<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>13A589</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>AppleBluetoothMultitouch</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.driver.AppleBluetoothMultitouch</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>AppleBluetoothMultitouch</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>80.14</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>80.14</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>5A11344p</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>13A589</string>
	<key>DTSDKName</key>
	<string></string>
	<key>DTXcode</key>
	<string>0500</string>
	<key>DTXcodeBuild</key>
	<string>5A11344p</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>BNBMouseDeviceDriver</key>
		<dict>
			<key>BatteryDangerouslyLowNotificationType</key>
			<string>CriticallyLowBattery</string>
			<key>BatteryLowNotificationType</key>
			<string>LowBattery</string>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleBluetoothMultitouch</string>
			<key>ConnectionNotificationType</key>
			<string>Connected</string>
			<key>DefaultMultitouchPreferences</key>
			<dict>
				<key>MouseHorizontalScroll</key>
				<true/>
				<key>MouseMomentumScroll</key>
				<true/>
				<key>MouseOneFingerDoubleTapGesture</key>
				<integer>0</integer>
				<key>MouseTwoFingerDoubleTapGesture</key>
				<integer>3</integer>
				<key>MouseTwoFingerHorizSwipeGesture</key>
				<integer>2</integer>
				<key>MouseVerticalScroll</key>
				<true/>
			</dict>
			<key>DefaultMultitouchProperties</key>
			<dict>
				<key>HIDServiceSupport</key>
				<true/>
				<key>IOCFPlugInTypes</key>
				<dict>
					<key>0516B563-B15B-11DA-96EB-0014519758EF</key>
					<string>AppleMultitouchDriver.kext/Contents/PlugIns/MultitouchHID.plugin</string>
				</dict>
				<key>parser-options</key>
				<integer>4</integer>
				<key>parser-type</key>
				<integer>2000</integer>
			</dict>
			<key>DisconnectionNotificationType</key>
			<string>Disconnected</string>
			<key>ExtendedData</key>
			<array>
				<integer>57278464</integer>
			</array>
			<key>ExtendedFeatures</key>
			<dict>
				<key>BatteryCalibrationData1</key>
				<dict>
					<key>id</key>
					<integer>97</integer>
					<key>size</key>
					<integer>29</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>BatteryPercent</key>
				<dict>
					<key>id</key>
					<integer>71</integer>
					<key>max</key>
					<integer>100</integer>
					<key>min</key>
					<integer>0</integer>
					<key>size</key>
					<integer>1</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>BatteryState</key>
				<dict>
					<key>id</key>
					<integer>48</integer>
					<key>max</key>
					<integer>2</integer>
					<key>min</key>
					<integer>0</integer>
					<key>size</key>
					<integer>1</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<key>CalibratedBatteryThresholds1</key>
				<dict>
					<key>id</key>
					<integer>96</integer>
					<key>size</key>
					<integer>25</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>CalibratedBatteryThresholds2</key>
				<dict>
					<key>id</key>
					<integer>96</integer>
					<key>size</key>
					<integer>11</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>DeviceName1</key>
				<dict>
					<key>id</key>
					<integer>81</integer>
					<key>size</key>
					<integer>8</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>DeviceName2</key>
				<dict>
					<key>id</key>
					<integer>82</integer>
					<key>size</key>
					<integer>8</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>DeviceName3</key>
				<dict>
					<key>id</key>
					<integer>83</integer>
					<key>size</key>
					<integer>8</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>DeviceName4</key>
				<dict>
					<key>id</key>
					<integer>84</integer>
					<key>size</key>
					<integer>8</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>DeviceNameChange</key>
				<dict>
					<key>id</key>
					<integer>80</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>FactoryDefault</key>
				<dict>
					<key>id</key>
					<integer>69</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>FullFactoryDefault</key>
				<dict>
					<key>id</key>
					<integer>68</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>LongDeviceName</key>
				<dict>
					<key>id</key>
					<integer>85</integer>
					<key>size</key>
					<integer>64</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>RecantConnection</key>
				<dict>
					<key>id</key>
					<integer>65</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>SuperMode</key>
				<dict>
					<key>id</key>
					<integer>215</integer>
					<key>max</key>
					<integer>1</integer>
					<key>min</key>
					<integer>0</integer>
					<key>size</key>
					<integer>1</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>UnloadedAndLoadedBatteryVoltages</key>
				<dict>
					<key>id</key>
					<integer>105</integer>
					<key>size</key>
					<integer>4</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>UserMode</key>
				<dict>
					<key>id</key>
					<integer>67</integer>
					<key>max</key>
					<integer>3</integer>
					<key>min</key>
					<integer>1</integer>
					<key>size</key>
					<integer>1</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>WillShutdown</key>
				<dict>
					<key>id</key>
					<integer>64</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>GetReportTimeoutMS</key>
			<integer>3500</integer>
			<key>HIDDefaultBehavior</key>
			<string>Mouse</string>
			<key>IOClass</key>
			<string>BNBMouseDevice</string>
			<key>IOProviderClass</key>
			<string>IOBluetoothL2CAPChannel</string>
			<key>PSM</key>
			<integer>17</integer>
			<key>ProductID</key>
			<integer>781</integer>
			<key>SetReportTimeoutMS</key>
			<integer>3500</integer>
			<key>VendorID</key>
			<integer>1452</integer>
			<key>VendorIDSource</key>
			<integer>2</integer>
		</dict>
		<key>BNBMouseDeviceDriver 2011</key>
		<dict>
			<key>BatteryDangerouslyLowNotificationType</key>
			<string>CriticallyLowBattery</string>
			<key>BatteryLowNotificationType</key>
			<string>LowBattery</string>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleBluetoothMultitouch</string>
			<key>ConnectionNotificationType</key>
			<string>Connected</string>
			<key>DefaultMultitouchPreferences</key>
			<dict>
				<key>MouseHorizontalScroll</key>
				<true/>
				<key>MouseMomentumScroll</key>
				<true/>
				<key>MouseOneFingerDoubleTapGesture</key>
				<integer>0</integer>
				<key>MouseTwoFingerDoubleTapGesture</key>
				<integer>3</integer>
				<key>MouseTwoFingerHorizSwipeGesture</key>
				<integer>2</integer>
				<key>MouseVerticalScroll</key>
				<true/>
			</dict>
			<key>DefaultMultitouchProperties</key>
			<dict>
				<key>HIDServiceSupport</key>
				<true/>
				<key>IOCFPlugInTypes</key>
				<dict>
					<key>0516B563-B15B-11DA-96EB-0014519758EF</key>
					<string>AppleMultitouchDriver.kext/Contents/PlugIns/MultitouchHID.plugin</string>
				</dict>
				<key>parser-options</key>
				<integer>4</integer>
				<key>parser-type</key>
				<integer>2000</integer>
			</dict>
			<key>DisconnectionNotificationType</key>
			<string>Disconnected</string>
			<key>ExtendedFeatures</key>
			<dict>
				<key>BatteryCalibrationData2</key>
				<dict>
					<key>id</key>
					<integer>97</integer>
					<key>size</key>
					<integer>30</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>BatteryPercent</key>
				<dict>
					<key>id</key>
					<integer>71</integer>
					<key>max</key>
					<integer>100</integer>
					<key>min</key>
					<integer>0</integer>
					<key>size</key>
					<integer>1</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>BatteryState</key>
				<dict>
					<key>id</key>
					<integer>48</integer>
					<key>max</key>
					<integer>2</integer>
					<key>min</key>
					<integer>0</integer>
					<key>size</key>
					<integer>1</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<key>BatteryVoltage</key>
				<dict>
					<key>id</key>
					<integer>73</integer>
					<key>size</key>
					<integer>2</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>CalibratedBatteryThresholds3</key>
				<dict>
					<key>id</key>
					<integer>96</integer>
					<key>size</key>
					<integer>9</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>DeviceName1</key>
				<dict>
					<key>id</key>
					<integer>81</integer>
					<key>size</key>
					<integer>8</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>DeviceName2</key>
				<dict>
					<key>id</key>
					<integer>82</integer>
					<key>size</key>
					<integer>8</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>DeviceName3</key>
				<dict>
					<key>id</key>
					<integer>83</integer>
					<key>size</key>
					<integer>8</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>DeviceName4</key>
				<dict>
					<key>id</key>
					<integer>84</integer>
					<key>size</key>
					<integer>8</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>DeviceNameChange</key>
				<dict>
					<key>id</key>
					<integer>80</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>FactoryDefault</key>
				<dict>
					<key>id</key>
					<integer>69</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>FullFactoryDefault</key>
				<dict>
					<key>id</key>
					<integer>68</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>LongDeviceName</key>
				<dict>
					<key>id</key>
					<integer>85</integer>
					<key>size</key>
					<integer>64</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>RecantConnection</key>
				<dict>
					<key>id</key>
					<integer>65</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>SuperMode</key>
				<dict>
					<key>id</key>
					<integer>215</integer>
					<key>max</key>
					<integer>1</integer>
					<key>min</key>
					<integer>0</integer>
					<key>size</key>
					<integer>1</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>UnloadedAndLoadedBatteryVoltages</key>
				<dict>
					<key>id</key>
					<integer>105</integer>
					<key>size</key>
					<integer>4</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>UserMode</key>
				<dict>
					<key>id</key>
					<integer>67</integer>
					<key>max</key>
					<integer>3</integer>
					<key>min</key>
					<integer>1</integer>
					<key>size</key>
					<integer>1</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>WillShutdown</key>
				<dict>
					<key>id</key>
					<integer>64</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>GetReportTimeoutMS</key>
			<integer>3500</integer>
			<key>HIDDefaultBehavior</key>
			<string>Mouse</string>
			<key>IOClass</key>
			<string>BNBMouseDevice</string>
			<key>IOProviderClass</key>
			<string>IOBluetoothL2CAPChannel</string>
			<key>PSM</key>
			<integer>17</integer>
			<key>PoweredOffNotificationType</key>
			<string>MouseOff</string>
			<key>ProductID</key>
			<integer>784</integer>
			<key>SetReportTimeoutMS</key>
			<integer>3500</integer>
			<key>VendorID</key>
			<integer>1452</integer>
			<key>VendorIDSource</key>
			<integer>2</integer>
		</dict>
		<key>BNBMouseEventDriver</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleMultitouchDriver</string>
			<key>DeviceUsagePairs</key>
			<array>
				<dict>
					<key>DeviceUsage</key>
					<integer>2</integer>
					<key>DeviceUsagePage</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>DeviceUsage</key>
					<integer>1</integer>
					<key>DeviceUsagePage</key>
					<integer>1</integer>
				</dict>
			</array>
			<key>HIDAccelCurves</key>
			<array>
				<dict>
					<key>HIDAccelGainLinear</key>
					<integer>65536</integer>
					<key>HIDAccelIndex</key>
					<integer>0</integer>
					<key>HIDAccelTangentSpeedLinear</key>
					<integer>524288</integer>
				</dict>
				<dict>
					<key>HIDAccelGainCubic</key>
					<integer>5243</integer>
					<key>HIDAccelGainLinear</key>
					<integer>70124</integer>
					<key>HIDAccelGainParabolic</key>
					<integer>26214</integer>
					<key>HIDAccelIndex</key>
					<integer>8192</integer>
					<key>HIDAccelTangentSpeedLinear</key>
					<integer>537395</integer>
					<key>HIDAccelTangentSpeedParabolicRoot</key>
					<integer>1245184</integer>
				</dict>
				<dict>
					<key>HIDAccelGainCubic</key>
					<integer>6554</integer>
					<key>HIDAccelGainLinear</key>
					<integer>74711</integer>
					<key>HIDAccelGainParabolic</key>
					<integer>36045</integer>
					<key>HIDAccelIndex</key>
					<integer>32768</integer>
					<key>HIDAccelTangentSpeedLinear</key>
					<integer>543949</integer>
					<key>HIDAccelTangentSpeedParabolicRoot</key>
					<integer>1179648</integer>
				</dict>
				<dict>
					<key>HIDAccelGainCubic</key>
					<integer>7864</integer>
					<key>HIDAccelGainLinear</key>
					<integer>79299</integer>
					<key>HIDAccelGainParabolic</key>
					<integer>46531</integer>
					<key>HIDAccelIndex</key>
					<integer>45056</integer>
					<key>HIDAccelTangentSpeedLinear</key>
					<integer>550502</integer>
					<key>HIDAccelTangentSpeedParabolicRoot</key>
					<integer>1114112</integer>
				</dict>
				<dict>
					<key>HIDAccelGainCubic</key>
					<integer>9830</integer>
					<key>HIDAccelGainLinear</key>
					<integer>83886</integer>
					<key>HIDAccelGainParabolic</key>
					<integer>57672</integer>
					<key>HIDAccelIndex</key>
					<integer>57344</integer>
					<key>HIDAccelTangentSpeedLinear</key>
					<integer>557056</integer>
					<key>HIDAccelTangentSpeedParabolicRoot</key>
					<integer>1048576</integer>
				</dict>
				<dict>
					<key>HIDAccelGainCubic</key>
					<integer>11796</integer>
					<key>HIDAccelGainLinear</key>
					<integer>88474</integer>
					<key>HIDAccelGainParabolic</key>
					<integer>69468</integer>
					<key>HIDAccelIndex</key>
					<integer>65536</integer>
					<key>HIDAccelTangentSpeedLinear</key>
					<integer>563610</integer>
					<key>HIDAccelTangentSpeedParabolicRoot</key>
					<integer>983040</integer>
				</dict>
				<dict>
					<key>HIDAccelGainCubic</key>
					<integer>14418</integer>
					<key>HIDAccelGainLinear</key>
					<integer>93061</integer>
					<key>HIDAccelGainParabolic</key>
					<integer>81920</integer>
					<key>HIDAccelIndex</key>
					<integer>98304</integer>
					<key>HIDAccelTangentSpeedLinear</key>
					<integer>570163</integer>
					<key>HIDAccelTangentSpeedParabolicRoot</key>
					<integer>917504</integer>
				</dict>
				<dict>
					<key>HIDAccelGainCubic</key>
					<integer>17695</integer>
					<key>HIDAccelGainLinear</key>
					<integer>97649</integer>
					<key>HIDAccelGainParabolic</key>
					<integer>95027</integer>
					<key>HIDAccelIndex</key>
					<integer>131072</integer>
					<key>HIDAccelTangentSpeedLinear</key>
					<integer>576717</integer>
					<key>HIDAccelTangentSpeedParabolicRoot</key>
					<integer>851968</integer>
				</dict>
				<dict>
					<key>HIDAccelGainCubic</key>
					<integer>21627</integer>
					<key>HIDAccelGainLinear</key>
					<integer>102236</integer>
					<key>HIDAccelGainParabolic</key>
					<integer>108790</integer>
					<key>HIDAccelIndex</key>
					<integer>163840</integer>
					<key>HIDAccelTangentSpeedLinear</key>
					<integer>583270</integer>
					<key>HIDAccelTangentSpeedParabolicRoot</key>
					<integer>786432</integer>
				</dict>
				<dict>
					<key>HIDAccelGainCubic</key>
					<integer>26214</integer>
					<key>HIDAccelGainLinear</key>
					<integer>104858</integer>
					<key>HIDAccelGainParabolic</key>
					<integer>123208</integer>
					<key>HIDAccelIndex</key>
					<integer>196608</integer>
					<key>HIDAccelTangentSpeedLinear</key>
					<integer>589824</integer>
					<key>HIDAccelTangentSpeedParabolicRoot</key>
					<integer>786432</integer>
				</dict>
			</array>
			<key>HIDDefaultBehavior</key>
			<string>Mouse</string>
			<key>HIDDisallowRemappingOfPrimaryClick</key>
			<true/>
			<key>HIDPointerAccelerationTable</key>
			<data>
			AACAAFVTQioACgAAAAAAAQABAKkAAQBgAAAgAAAMAACAAAAAgAAA
			AQuBAAEjZQAB3CgAAkISAAJ7vAADSXQAA40fAAVK3gAFI34ACPSR
			AAbVfAANxwcACtGSABtgewAPhL8ALCNjABYaUwBB7ZEAID2CAFwm
			RgAvbvwAd8tbAABQAAANAACC2QAAij0AAQgWAAE4NgAB0mIAAokf
			AAJmhgADqOAAAwtiAAUeCgAEDa0AB+wKAAUUeQALOAIABqpjABFW
			NQAJ+WsAISzeAA+VxQA+BFoAFfhFAFsR7QAflgUAfGbeAC83KACj
			kLwAAIAAAA4AAINLAACUewABA9kAAVINAAHFGgACzAoAAk4BAAQa
			owADBuEABiaRAAQGKwAJpOsABQb1AA3TnwAGZqAAFMLkAAlWLAAn
			mKYAC190ADWi5gAPoR8AUrB5ABXFrQB3y1sAHy+qAKFC+gAutOMA
			0/GgAACwAAAPAABAAAAARR8AAISfAACeuAAA/q8AAWw/AAGxsQAD
			AZMAAj0lAASZyQADA+AAB1TiAAP3OQALe0oABOg0ABBm+wAGH8gA
			GC+TAAi2AgAtYA0ACsCLAD8iagAPKfAAZ+ueABWgdQCYC/MAHq1l
			AMq6mQAuQW8BCtXaAADgAAAPAAA8KQAAQAAAAId2AACw6wAA+Y8A
			AZNGAAGZLAADPc0AAjR2AAViiwAC85YACLSxAAPOzQANX8kABLZz
			ABNuLgAFpJQAGsEWAAfYPQAxA4cACmAQAE9WSgAOk0sAg1AjABVD
			aADGHxYAHj28AQagRgAt3t8BW91GAAEAAAAQAAA4VgAAQAAAAIab
			AADDIgAA8JUAAbpMAAFxVAADUeEAAfxFAAWKsgAC1H4ACjhKAAOV
			RwAPZJUABFFlABVy+gAFELsAHK45AAbn/QAyud8ACLLtAE7DtwAK
			SV0AaQmuAA31HACl3n0AFTDMAQRShAAdqNsBVPQCAC0EYAHBOpQA
			AYAAABEAAEBtAABTMwAAhVMAANfyAADpvwAB7lUAAUyMAANfQwAB
			1G0ABfx1AAK29AAL/H0AA2BqABHKSAAEC28AGLrGAAS7HQAhDpAA
			BfrSADNeQAAHuXAAVB2IAAnX2wCEaigADR8YANGj3gAQuEkBGQ5U
			ABYG0AFnYhAAHTkyAb7s0gAr+u0CRth4AAIAAAASAAA/kwAAWuEA
			AILFAAD3mgAA15EAAhdbAAEluQADeggAAZQQAAX8dQACEigACbcX
			AAJ6UgANX8kAAwAGABNN4QADkisAGl6sAAQvMQAjlJAABR0NADRw
			NgAGtrUAWUCOAAkW5QCg6LMADIo3ARtcFgAP/jABd4JcABUnfgHj
			yO4AHDSoAllGiAAq6wEDFi6UAAMAAAATAAA8lgAAYo8AAH4sAAEm
			cgAAvH8AAjIgAAD60QADlMwAAU8aAAX1xAABnDwACLRsAAIPDAAN
			wK8AAobCABQPrgAC/OoAG6GrAAOKZQAmGo8ABB4XADM5vgAE8e4A
			SWnlAAXlcgBnL6QACADNAMAyZAAKaIYBQKFwAA09KwHLC4AAEXux
			AmcZEAAZCyADMdOoACaAGgRDbeA=
			</data>
			<key>HIDScrollAccelCurves</key>
			<array>
				<dict>
					<key>HIDAccelGainLinear</key>
					<integer>85197</integer>
					<key>HIDAccelGainParabolic</key>
					<integer>16384</integer>
					<key>HIDAccelIndex</key>
					<integer>8192</integer>
					<key>HIDAccelTangentSpeedLinear</key>
					<integer>851968</integer>
					<key>HIDAccelTangentSpeedParabolicRoot</key>
					<integer>1310720</integer>
				</dict>
				<dict>
					<key>HIDAccelGainLinear</key>
					<integer>95027</integer>
					<key>HIDAccelGainParabolic</key>
					<integer>26215</integer>
					<key>HIDAccelIndex</key>
					<integer>13927</integer>
					<key>HIDAccelTangentSpeedLinear</key>
					<integer>786432</integer>
					<key>HIDAccelTangentSpeedParabolicRoot</key>
					<integer>1245184</integer>
				</dict>
				<dict>
					<key>HIDAccelGainLinear</key>
					<integer>104858</integer>
					<key>HIDAccelGainParabolic</key>
					<integer>39322</integer>
					<key>HIDAccelIndex</key>
					<integer>20480</integer>
					<key>HIDAccelTangentSpeedLinear</key>
					<integer>720896</integer>
					<key>HIDAccelTangentSpeedParabolicRoot</key>
					<integer>1179648</integer>
				</dict>
				<dict>
					<key>HIDAccelGainLinear</key>
					<integer>114688</integer>
					<key>HIDAccelGainParabolic</key>
					<integer>55706</integer>
					<key>HIDAccelIndex</key>
					<integer>32768</integer>
					<key>HIDAccelTangentSpeedLinear</key>
					<integer>655360</integer>
					<key>HIDAccelTangentSpeedParabolicRoot</key>
					<integer>1114112</integer>
				</dict>
				<dict>
					<key>HIDAccelGainLinear</key>
					<integer>124519</integer>
					<key>HIDAccelGainParabolic</key>
					<integer>68813</integer>
					<key>HIDAccelIndex</key>
					<integer>49152</integer>
					<key>HIDAccelTangentSpeedLinear</key>
					<integer>589824</integer>
					<key>HIDAccelTangentSpeedParabolicRoot</key>
					<integer>1048576</integer>
				</dict>
				<dict>
					<key>HIDAccelGainLinear</key>
					<integer>134349</integer>
					<key>HIDAccelGainParabolic</key>
					<integer>81920</integer>
					<key>HIDAccelIndex</key>
					<integer>65536</integer>
					<key>HIDAccelTangentSpeedLinear</key>
					<integer>524288</integer>
					<key>HIDAccelTangentSpeedParabolicRoot</key>
					<integer>983040</integer>
				</dict>
				<dict>
					<key>HIDAccelGainLinear</key>
					<integer>144179</integer>
					<key>HIDAccelGainParabolic</key>
					<integer>95027</integer>
					<key>HIDAccelIndex</key>
					<integer>111411</integer>
					<key>HIDAccelTangentSpeedLinear</key>
					<integer>458752</integer>
					<key>HIDAccelTangentSpeedParabolicRoot</key>
					<integer>917504</integer>
				</dict>
			</array>
			<key>HIDScrollResolution</key>
			<integer>26214400</integer>
			<key>IOClass</key>
			<string>AppleMultitouchHIDEventDriver</string>
			<key>IOHIDScrollReportRate</key>
			<integer>8192000</integer>
			<key>IOProviderClass</key>
			<string>IOHIDInterface</string>
			<key>PreferenceFilter</key>
			<array/>
			<key>ProductID</key>
			<integer>781</integer>
			<key>VendorID</key>
			<integer>1452</integer>
			<key>VendorIDSource</key>
			<integer>2</integer>
		</dict>
		<key>BNBMouseEventDriver 2011</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleMultitouchDriver</string>
			<key>DeviceUsagePairs</key>
			<array>
				<dict>
					<key>DeviceUsage</key>
					<integer>2</integer>
					<key>DeviceUsagePage</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>DeviceUsage</key>
					<integer>1</integer>
					<key>DeviceUsagePage</key>
					<integer>1</integer>
				</dict>
			</array>
			<key>HIDAccelCurves</key>
			<array>
				<dict>
					<key>HIDAccelGainLinear</key>
					<integer>65536</integer>
					<key>HIDAccelIndex</key>
					<integer>0</integer>
					<key>HIDAccelTangentSpeedLinear</key>
					<integer>524288</integer>
				</dict>
				<dict>
					<key>HIDAccelGainCubic</key>
					<integer>5243</integer>
					<key>HIDAccelGainLinear</key>
					<integer>70124</integer>
					<key>HIDAccelGainParabolic</key>
					<integer>26214</integer>
					<key>HIDAccelIndex</key>
					<integer>8192</integer>
					<key>HIDAccelTangentSpeedLinear</key>
					<integer>537395</integer>
					<key>HIDAccelTangentSpeedParabolicRoot</key>
					<integer>1245184</integer>
				</dict>
				<dict>
					<key>HIDAccelGainCubic</key>
					<integer>6554</integer>
					<key>HIDAccelGainLinear</key>
					<integer>74711</integer>
					<key>HIDAccelGainParabolic</key>
					<integer>36045</integer>
					<key>HIDAccelIndex</key>
					<integer>32768</integer>
					<key>HIDAccelTangentSpeedLinear</key>
					<integer>543949</integer>
					<key>HIDAccelTangentSpeedParabolicRoot</key>
					<integer>1179648</integer>
				</dict>
				<dict>
					<key>HIDAccelGainCubic</key>
					<integer>7864</integer>
					<key>HIDAccelGainLinear</key>
					<integer>79299</integer>
					<key>HIDAccelGainParabolic</key>
					<integer>46531</integer>
					<key>HIDAccelIndex</key>
					<integer>45056</integer>
					<key>HIDAccelTangentSpeedLinear</key>
					<integer>550502</integer>
					<key>HIDAccelTangentSpeedParabolicRoot</key>
					<integer>1114112</integer>
				</dict>
				<dict>
					<key>HIDAccelGainCubic</key>
					<integer>9830</integer>
					<key>HIDAccelGainLinear</key>
					<integer>83886</integer>
					<key>HIDAccelGainParabolic</key>
					<integer>57672</integer>
					<key>HIDAccelIndex</key>
					<integer>57344</integer>
					<key>HIDAccelTangentSpeedLinear</key>
					<integer>557056</integer>
					<key>HIDAccelTangentSpeedParabolicRoot</key>
					<integer>1048576</integer>
				</dict>
				<dict>
					<key>HIDAccelGainCubic</key>
					<integer>11796</integer>
					<key>HIDAccelGainLinear</key>
					<integer>88474</integer>
					<key>HIDAccelGainParabolic</key>
					<integer>69468</integer>
					<key>HIDAccelIndex</key>
					<integer>65536</integer>
					<key>HIDAccelTangentSpeedLinear</key>
					<integer>563610</integer>
					<key>HIDAccelTangentSpeedParabolicRoot</key>
					<integer>983040</integer>
				</dict>
				<dict>
					<key>HIDAccelGainCubic</key>
					<integer>14418</integer>
					<key>HIDAccelGainLinear</key>
					<integer>93061</integer>
					<key>HIDAccelGainParabolic</key>
					<integer>81920</integer>
					<key>HIDAccelIndex</key>
					<integer>98304</integer>
					<key>HIDAccelTangentSpeedLinear</key>
					<integer>570163</integer>
					<key>HIDAccelTangentSpeedParabolicRoot</key>
					<integer>917504</integer>
				</dict>
				<dict>
					<key>HIDAccelGainCubic</key>
					<integer>17695</integer>
					<key>HIDAccelGainLinear</key>
					<integer>97649</integer>
					<key>HIDAccelGainParabolic</key>
					<integer>95027</integer>
					<key>HIDAccelIndex</key>
					<integer>131072</integer>
					<key>HIDAccelTangentSpeedLinear</key>
					<integer>576717</integer>
					<key>HIDAccelTangentSpeedParabolicRoot</key>
					<integer>851968</integer>
				</dict>
				<dict>
					<key>HIDAccelGainCubic</key>
					<integer>21627</integer>
					<key>HIDAccelGainLinear</key>
					<integer>102236</integer>
					<key>HIDAccelGainParabolic</key>
					<integer>108790</integer>
					<key>HIDAccelIndex</key>
					<integer>163840</integer>
					<key>HIDAccelTangentSpeedLinear</key>
					<integer>583270</integer>
					<key>HIDAccelTangentSpeedParabolicRoot</key>
					<integer>786432</integer>
				</dict>
				<dict>
					<key>HIDAccelGainCubic</key>
					<integer>26214</integer>
					<key>HIDAccelGainLinear</key>
					<integer>104858</integer>
					<key>HIDAccelGainParabolic</key>
					<integer>123208</integer>
					<key>HIDAccelIndex</key>
					<integer>196608</integer>
					<key>HIDAccelTangentSpeedLinear</key>
					<integer>589824</integer>
					<key>HIDAccelTangentSpeedParabolicRoot</key>
					<integer>786432</integer>
				</dict>
			</array>
			<key>HIDDefaultBehavior</key>
			<string>Mouse</string>
			<key>HIDDisallowRemappingOfPrimaryClick</key>
			<true/>
			<key>HIDScrollAccelCurves</key>
			<array>
				<dict>
					<key>HIDAccelGainLinear</key>
					<integer>85197</integer>
					<key>HIDAccelGainParabolic</key>
					<integer>16384</integer>
					<key>HIDAccelIndex</key>
					<integer>8192</integer>
					<key>HIDAccelTangentSpeedLinear</key>
					<integer>851968</integer>
					<key>HIDAccelTangentSpeedParabolicRoot</key>
					<integer>1310720</integer>
				</dict>
				<dict>
					<key>HIDAccelGainLinear</key>
					<integer>95027</integer>
					<key>HIDAccelGainParabolic</key>
					<integer>26215</integer>
					<key>HIDAccelIndex</key>
					<integer>13927</integer>
					<key>HIDAccelTangentSpeedLinear</key>
					<integer>786432</integer>
					<key>HIDAccelTangentSpeedParabolicRoot</key>
					<integer>1245184</integer>
				</dict>
				<dict>
					<key>HIDAccelGainLinear</key>
					<integer>104858</integer>
					<key>HIDAccelGainParabolic</key>
					<integer>39322</integer>
					<key>HIDAccelIndex</key>
					<integer>20480</integer>
					<key>HIDAccelTangentSpeedLinear</key>
					<integer>720896</integer>
					<key>HIDAccelTangentSpeedParabolicRoot</key>
					<integer>1179648</integer>
				</dict>
				<dict>
					<key>HIDAccelGainLinear</key>
					<integer>114688</integer>
					<key>HIDAccelGainParabolic</key>
					<integer>55706</integer>
					<key>HIDAccelIndex</key>
					<integer>32768</integer>
					<key>HIDAccelTangentSpeedLinear</key>
					<integer>655360</integer>
					<key>HIDAccelTangentSpeedParabolicRoot</key>
					<integer>1114112</integer>
				</dict>
				<dict>
					<key>HIDAccelGainLinear</key>
					<integer>124519</integer>
					<key>HIDAccelGainParabolic</key>
					<integer>68813</integer>
					<key>HIDAccelIndex</key>
					<integer>49152</integer>
					<key>HIDAccelTangentSpeedLinear</key>
					<integer>589824</integer>
					<key>HIDAccelTangentSpeedParabolicRoot</key>
					<integer>1048576</integer>
				</dict>
				<dict>
					<key>HIDAccelGainLinear</key>
					<integer>134349</integer>
					<key>HIDAccelGainParabolic</key>
					<integer>81920</integer>
					<key>HIDAccelIndex</key>
					<integer>65536</integer>
					<key>HIDAccelTangentSpeedLinear</key>
					<integer>524288</integer>
					<key>HIDAccelTangentSpeedParabolicRoot</key>
					<integer>983040</integer>
				</dict>
				<dict>
					<key>HIDAccelGainLinear</key>
					<integer>144179</integer>
					<key>HIDAccelGainParabolic</key>
					<integer>95027</integer>
					<key>HIDAccelIndex</key>
					<integer>111411</integer>
					<key>HIDAccelTangentSpeedLinear</key>
					<integer>458752</integer>
					<key>HIDAccelTangentSpeedParabolicRoot</key>
					<integer>917504</integer>
				</dict>
			</array>
			<key>HIDScrollResolution</key>
			<integer>26214400</integer>
			<key>IOClass</key>
			<string>AppleMultitouchHIDEventDriver</string>
			<key>IOHIDScrollReportRate</key>
			<integer>8192000</integer>
			<key>IOProviderClass</key>
			<string>IOHIDInterface</string>
			<key>PreferenceFilter</key>
			<array/>
			<key>ProductID</key>
			<integer>784</integer>
			<key>VendorID</key>
			<integer>1452</integer>
			<key>VendorIDSource</key>
			<integer>2</integer>
		</dict>
		<key>BNBTrackpadDriver</key>
		<dict>
			<key>BatteryDangerouslyLowNotificationType</key>
			<string>CriticallyLowBattery</string>
			<key>BatteryLowNotificationType</key>
			<string>LowBattery</string>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleBluetoothMultitouch</string>
			<key>ConnectionNotificationType</key>
			<string>Connected</string>
			<key>DefaultMultitouchPreferences</key>
			<dict>
				<key>Clicking</key>
				<integer>0</integer>
				<key>DragLock</key>
				<integer>0</integer>
				<key>Dragging</key>
				<integer>0</integer>
				<key>TrackpadCornerSecondaryClick</key>
				<integer>0</integer>
				<key>TrackpadFiveFingerPinchGesture</key>
				<integer>2</integer>
				<key>TrackpadFourFingerHorizSwipeGesture</key>
				<integer>2</integer>
				<key>TrackpadFourFingerPinchGesture</key>
				<integer>2</integer>
				<key>TrackpadFourFingerVertSwipeGesture</key>
				<integer>2</integer>
				<key>TrackpadHandResting</key>
				<true/>
				<key>TrackpadHorizScroll</key>
				<integer>1</integer>
				<key>TrackpadMomentumScroll</key>
				<true/>
				<key>TrackpadPinch</key>
				<integer>1</integer>
				<key>TrackpadRightClick</key>
				<true/>
				<key>TrackpadRotate</key>
				<integer>1</integer>
				<key>TrackpadScroll</key>
				<true/>
				<key>TrackpadThreeFingerDrag</key>
				<false/>
				<key>TrackpadThreeFingerHorizSwipeGesture</key>
				<integer>2</integer>
				<key>TrackpadThreeFingerTapGesture</key>
				<integer>2</integer>
				<key>TrackpadThreeFingerVertSwipeGesture</key>
				<integer>2</integer>
				<key>TrackpadTwoFingerDoubleTapGesture</key>
				<integer>1</integer>
				<key>TrackpadTwoFingerFromRightEdgeSwipeGesture</key>
				<integer>3</integer>
				<key>USBMouseStopsTrackpad</key>
				<integer>0</integer>
			</dict>
			<key>DefaultMultitouchProperties</key>
			<dict>
				<key>HIDServiceSupport</key>
				<true/>
				<key>IOCFPlugInTypes</key>
				<dict>
					<key>0516B563-B15B-11DA-96EB-0014519758EF</key>
					<string>AppleMultitouchDriver.kext/Contents/PlugIns/MultitouchHID.plugin</string>
				</dict>
				<key>MTHIDDevice</key>
				<true/>
				<key>TrackpadFourFingerGestures</key>
				<true/>
				<key>TrackpadMomentumScroll</key>
				<true/>
				<key>TrackpadSecondaryClickCorners</key>
				<true/>
				<key>parser-options</key>
				<integer>47</integer>
				<key>parser-type</key>
				<integer>1000</integer>
			</dict>
			<key>DisconnectionNotificationType</key>
			<string>Disconnected</string>
			<key>ExtendedData</key>
			<array>
				<integer>57278464</integer>
			</array>
			<key>ExtendedFeatures</key>
			<dict>
				<key>BatteryCalibrationData3</key>
				<dict>
					<key>id</key>
					<integer>97</integer>
					<key>size</key>
					<integer>32</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>BatteryPercent</key>
				<dict>
					<key>id</key>
					<integer>71</integer>
					<key>max</key>
					<integer>100</integer>
					<key>min</key>
					<integer>0</integer>
					<key>size</key>
					<integer>1</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>BatteryState</key>
				<dict>
					<key>id</key>
					<integer>48</integer>
					<key>max</key>
					<integer>2</integer>
					<key>min</key>
					<integer>0</integer>
					<key>size</key>
					<integer>1</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<key>CalibratedBatteryThresholds2</key>
				<dict>
					<key>id</key>
					<integer>96</integer>
					<key>size</key>
					<integer>11</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>DeviceName1</key>
				<dict>
					<key>id</key>
					<integer>81</integer>
					<key>size</key>
					<integer>8</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>DeviceName2</key>
				<dict>
					<key>id</key>
					<integer>82</integer>
					<key>size</key>
					<integer>8</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>DeviceName3</key>
				<dict>
					<key>id</key>
					<integer>83</integer>
					<key>size</key>
					<integer>8</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>DeviceName4</key>
				<dict>
					<key>id</key>
					<integer>84</integer>
					<key>size</key>
					<integer>8</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>DeviceNameChange</key>
				<dict>
					<key>id</key>
					<integer>80</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>FactoryDefault</key>
				<dict>
					<key>id</key>
					<integer>69</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>FullFactoryDefault</key>
				<dict>
					<key>id</key>
					<integer>68</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>LongDeviceName</key>
				<dict>
					<key>id</key>
					<integer>85</integer>
					<key>size</key>
					<integer>64</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>RecantConnection</key>
				<dict>
					<key>id</key>
					<integer>65</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>SuperMode</key>
				<dict>
					<key>id</key>
					<integer>215</integer>
					<key>max</key>
					<integer>1</integer>
					<key>min</key>
					<integer>0</integer>
					<key>size</key>
					<integer>1</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>UnloadedAndLoadedBatteryVoltages</key>
				<dict>
					<key>id</key>
					<integer>105</integer>
					<key>size</key>
					<integer>4</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>UserMode</key>
				<dict>
					<key>id</key>
					<integer>67</integer>
					<key>max</key>
					<integer>3</integer>
					<key>min</key>
					<integer>1</integer>
					<key>size</key>
					<integer>1</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>WillShutdown</key>
				<dict>
					<key>id</key>
					<integer>64</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>GetReportTimeoutMS</key>
			<integer>3750</integer>
			<key>HIDDefaultBehavior</key>
			<string>Trackpad</string>
			<key>IOClass</key>
			<string>BNBTrackpadDevice</string>
			<key>IOProviderClass</key>
			<string>IOBluetoothL2CAPChannel</string>
			<key>PSM</key>
			<integer>17</integer>
			<key>PoweredOffNotificationType</key>
			<string>TrackpadOff</string>
			<key>ProductID</key>
			<integer>782</integer>
			<key>SetReportTimeoutMS</key>
			<integer>3750</integer>
			<key>VendorID</key>
			<integer>1452</integer>
			<key>VendorIDSource</key>
			<integer>2</integer>
		</dict>
		<key>BNBTrackpadEventDriver</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleMultitouchDriver</string>
			<key>DeviceUsagePairs</key>
			<array>
				<dict>
					<key>DeviceUsage</key>
					<integer>2</integer>
					<key>DeviceUsagePage</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>DeviceUsage</key>
					<integer>1</integer>
					<key>DeviceUsagePage</key>
					<integer>1</integer>
				</dict>
			</array>
			<key>HIDAccelCurves</key>
			<array>
				<dict>
					<key>HIDAccelGainLinear</key>
					<integer>65536</integer>
					<key>HIDAccelIndex</key>
					<integer>0</integer>
					<key>HIDAccelTangentSpeedLinear</key>
					<integer>484966</integer>
					<key>HIDAccelTangentSpeedParabolicRoot</key>
					<integer>2621440</integer>
				</dict>
				<dict>
					<key>HIDAccelGainCubic</key>
					<integer>5243</integer>
					<key>HIDAccelGainLinear</key>
					<integer>70779</integer>
					<key>HIDAccelGainParabolic</key>
					<integer>32768</integer>
					<key>HIDAccelIndex</key>
					<integer>8192</integer>
					<key>HIDAccelTangentSpeedLinear</key>
					<integer>484966</integer>
					<key>HIDAccelTangentSpeedParabolicRoot</key>
					<integer>1966080</integer>
				</dict>
				<dict>
					<key>HIDAccelGainCubic</key>
					<integer>6554</integer>
					<key>HIDAccelGainLinear</key>
					<integer>76022</integer>
					<key>HIDAccelGainParabolic</key>
					<integer>43254</integer>
					<key>HIDAccelIndex</key>
					<integer>32768</integer>
					<key>HIDAccelTangentSpeedLinear</key>
					<integer>484966</integer>
					<key>HIDAccelTangentSpeedParabolicRoot</key>
					<integer>1572864</integer>
				</dict>
				<dict>
					<key>HIDAccelGainCubic</key>
					<integer>7864</integer>
					<key>HIDAccelGainLinear</key>
					<integer>81265</integer>
					<key>HIDAccelGainParabolic</key>
					<integer>54395</integer>
					<key>HIDAccelIndex</key>
					<integer>45056</integer>
					<key>HIDAccelTangentSpeedLinear</key>
					<integer>491520</integer>
					<key>HIDAccelTangentSpeedParabolicRoot</key>
					<integer>1245184</integer>
				</dict>
				<dict>
					<key>HIDAccelGainCubic</key>
					<integer>9830</integer>
					<key>HIDAccelGainLinear</key>
					<integer>86508</integer>
					<key>HIDAccelGainParabolic</key>
					<integer>65536</integer>
					<key>HIDAccelIndex</key>
					<integer>57344</integer>
					<key>HIDAccelTangentSpeedLinear</key>
					<integer>498074</integer>
					<key>HIDAccelTangentSpeedParabolicRoot</key>
					<integer>1179648</integer>
				</dict>
				<dict>
					<key>HIDAccelGainCubic</key>
					<integer>11796</integer>
					<key>HIDAccelGainLinear</key>
					<integer>91750</integer>
					<key>HIDAccelGainParabolic</key>
					<integer>75366</integer>
					<key>HIDAccelIndex</key>
					<integer>65536</integer>
					<key>HIDAccelTangentSpeedLinear</key>
					<integer>511181</integer>
					<key>HIDAccelTangentSpeedParabolicRoot</key>
					<integer>1114112</integer>
				</dict>
				<dict>
					<key>HIDAccelGainCubic</key>
					<integer>14418</integer>
					<key>HIDAccelGainLinear</key>
					<integer>96993</integer>
					<key>HIDAccelGainParabolic</key>
					<integer>85197</integer>
					<key>HIDAccelIndex</key>
					<integer>98304</integer>
					<key>HIDAccelTangentSpeedLinear</key>
					<integer>524288</integer>
					<key>HIDAccelTangentSpeedParabolicRoot</key>
					<integer>1048576</integer>
				</dict>
				<dict>
					<key>HIDAccelGainCubic</key>
					<integer>17695</integer>
					<key>HIDAccelGainLinear</key>
					<integer>102236</integer>
					<key>HIDAccelGainParabolic</key>
					<integer>95027</integer>
					<key>HIDAccelIndex</key>
					<integer>131072</integer>
					<key>HIDAccelTangentSpeedLinear</key>
					<integer>543949</integer>
					<key>HIDAccelTangentSpeedParabolicRoot</key>
					<integer>983040</integer>
				</dict>
				<dict>
					<key>HIDAccelGainCubic</key>
					<integer>21627</integer>
					<key>HIDAccelGainLinear</key>
					<integer>106824</integer>
					<key>HIDAccelGainParabolic</key>
					<integer>108790</integer>
					<key>HIDAccelIndex</key>
					<integer>163840</integer>
					<key>HIDAccelTangentSpeedLinear</key>
					<integer>570163</integer>
					<key>HIDAccelTangentSpeedParabolicRoot</key>
					<integer>917504</integer>
				</dict>
				<dict>
					<key>HIDAccelGainCubic</key>
					<integer>26214</integer>
					<key>HIDAccelGainLinear</key>
					<integer>111411</integer>
					<key>HIDAccelGainParabolic</key>
					<integer>123208</integer>
					<key>HIDAccelIndex</key>
					<integer>196608</integer>
					<key>HIDAccelTangentSpeedLinear</key>
					<integer>589824</integer>
					<key>HIDAccelTangentSpeedParabolicRoot</key>
					<integer>851968</integer>
				</dict>
			</array>
			<key>HIDDefaultBehavior</key>
			<string></string>
			<key>HIDDisallowRemappingOfPrimaryClick</key>
			<true/>
			<key>HIDPointerAccelerationType</key>
			<string>HIDTrackpadAcceleration</string>
			<key>HIDScrollAccelCurves</key>
			<array>
				<dict>
					<key>HIDAccelGainLinear</key>
					<integer>85197</integer>
					<key>HIDAccelGainParabolic</key>
					<integer>13107</integer>
					<key>HIDAccelIndex</key>
					<integer>8192</integer>
					<key>HIDAccelTangentSpeedLinear</key>
					<integer>851968</integer>
					<key>HIDAccelTangentSpeedParabolicRoot</key>
					<integer>1310720</integer>
				</dict>
				<dict>
					<key>HIDAccelGainLinear</key>
					<integer>95027</integer>
					<key>HIDAccelGainParabolic</key>
					<integer>32768</integer>
					<key>HIDAccelIndex</key>
					<integer>14090</integer>
					<key>HIDAccelTangentSpeedLinear</key>
					<integer>786432</integer>
					<key>HIDAccelTangentSpeedParabolicRoot</key>
					<integer>1245184</integer>
				</dict>
				<dict>
					<key>HIDAccelGainLinear</key>
					<integer>104858</integer>
					<key>HIDAccelGainParabolic</key>
					<integer>45875</integer>
					<key>HIDAccelIndex</key>
					<integer>20480</integer>
					<key>HIDAccelTangentSpeedLinear</key>
					<integer>720896</integer>
					<key>HIDAccelTangentSpeedParabolicRoot</key>
					<integer>1179648</integer>
				</dict>
				<dict>
					<key>HIDAccelGainLinear</key>
					<integer>114688</integer>
					<key>HIDAccelGainParabolic</key>
					<integer>57017</integer>
					<key>HIDAccelIndex</key>
					<integer>32768</integer>
					<key>HIDAccelTangentSpeedLinear</key>
					<integer>655360</integer>
					<key>HIDAccelTangentSpeedParabolicRoot</key>
					<integer>1114112</integer>
				</dict>
				<dict>
					<key>HIDAccelGainLinear</key>
					<integer>124519</integer>
					<key>HIDAccelGainParabolic</key>
					<integer>68813</integer>
					<key>HIDAccelIndex</key>
					<integer>49152</integer>
					<key>HIDAccelTangentSpeedLinear</key>
					<integer>589824</integer>
					<key>HIDAccelTangentSpeedParabolicRoot</key>
					<integer>1048576</integer>
				</dict>
				<dict>
					<key>HIDAccelGainLinear</key>
					<integer>134349</integer>
					<key>HIDAccelGainParabolic</key>
					<integer>81920</integer>
					<key>HIDAccelIndex</key>
					<integer>65536</integer>
					<key>HIDAccelTangentSpeedLinear</key>
					<integer>524288</integer>
					<key>HIDAccelTangentSpeedParabolicRoot</key>
					<integer>983040</integer>
				</dict>
				<dict>
					<key>HIDAccelGainLinear</key>
					<integer>144179</integer>
					<key>HIDAccelGainParabolic</key>
					<integer>98304</integer>
					<key>HIDAccelIndex</key>
					<integer>111411</integer>
					<key>HIDAccelTangentSpeedLinear</key>
					<integer>458752</integer>
					<key>HIDAccelTangentSpeedParabolicRoot</key>
					<integer>917504</integer>
				</dict>
			</array>
			<key>HIDScrollAccelerationType</key>
			<string>HIDTrackpadScrollAcceleration</string>
			<key>HIDScrollResolution</key>
			<integer>26214400</integer>
			<key>IOClass</key>
			<string>AppleMultitouchHIDEventDriver</string>
			<key>IOHIDPointingProperties</key>
			<dict>
				<key>TrackpadFourFingerGestures</key>
				<true/>
				<key>TrackpadHorizScroll</key>
				<true/>
				<key>TrackpadRightClick</key>
				<true/>
				<key>TrackpadScroll</key>
				<true/>
				<key>TrackpadSecondaryClickCorners</key>
				<true/>
			</dict>
			<key>IOProviderClass</key>
			<string>IOHIDInterface</string>
			<key>MTEventSource</key>
			<true/>
			<key>ProductID</key>
			<integer>782</integer>
			<key>VendorID</key>
			<integer>1452</integer>
			<key>VendorIDSource</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.driver.AppleMultitouchDriver</key>
		<string>194.5</string>
		<key>com.apple.driver.IOBluetoothHIDDriver</key>
		<string>2.1f11</string>
		<key>com.apple.iokit.IOBluetoothFamily</key>
		<string>2.1f11</string>
		<key>com.apple.iokit.IOHIDFamily</key>
		<string>1.5</string>
		<key>com.apple.kpi.iokit</key>
		<string>9.0.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>9.0.0</string>
		<key>com.apple.kpi.mach</key>
		<string>9.0.0</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Console</string>
</dict>
</plist>
