<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>13C40z</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>IOMRPPlugin</string>
	<key>CFBundleGetInfoString</key>
	<string>IOMRPPlugin 203.2, Copyright © 2010-2013 Apple Inc. All rights reserved.</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.plugin.IOMRPPlugin</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>IOMRPPlugin</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>203.2</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>203.2</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>5A2053</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>13C40z</string>
	<key>DTSDKName</key>
	<string></string>
	<key>DTXcode</key>
	<string>0501</string>
	<key>DTXcodeBuild</key>
	<string>5A2053</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>IOMSRPDomain</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.plugin.IOMRPPlugin</string>
			<key>IOClass</key>
			<string>IOMSRPDomain</string>
			<key>IOMatchCategory</key>
			<string>IOMSRPDomain</string>
			<key>IOParentMatch</key>
			<dict>
				<key>IOPropertyMatch</key>
				<dict>
					<key>gPTPPresent</key>
					<true/>
				</dict>
				<key>IOProviderClass</key>
				<string>IOEthernetAVBController</string>
			</dict>
			<key>IOProbeScore</key>
			<integer>0</integer>
			<key>IOPropertyMatch</key>
			<dict>
				<key>WantsMSRP</key>
				<true/>
			</dict>
			<key>IOProviderClass</key>
			<string>IOEthernetInterface</string>
		</dict>
		<key>IOMSRPListener</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.plugin.IOMRPPlugin</string>
			<key>IOClass</key>
			<string>IOMSRPListener</string>
			<key>IOMatchCategory</key>
			<string>IOMSRPListener</string>
			<key>IOParentMatch</key>
			<dict>
				<key>IOPropertyMatch</key>
				<dict>
					<key>gPTPPresent</key>
					<true/>
				</dict>
				<key>IOProviderClass</key>
				<string>IOEthernetAVBController</string>
			</dict>
			<key>IOProbeScore</key>
			<integer>0</integer>
			<key>IOPropertyMatch</key>
			<dict>
				<key>WantsMSRP</key>
				<true/>
			</dict>
			<key>IOProviderClass</key>
			<string>IOEthernetInterface</string>
			<key>IOUserClientClass</key>
			<string>IOMSRPListenerUserClient</string>
		</dict>
		<key>IOMSRPTalker</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.plugin.IOMRPPlugin</string>
			<key>IOClass</key>
			<string>IOMSRPTalker</string>
			<key>IOMatchCategory</key>
			<string>IOMSRPTalker</string>
			<key>IOParentMatch</key>
			<dict>
				<key>IOPropertyMatch</key>
				<dict>
					<key>gPTPPresent</key>
					<true/>
				</dict>
				<key>IOProviderClass</key>
				<string>IOEthernetAVBController</string>
			</dict>
			<key>IOProbeScore</key>
			<integer>0</integer>
			<key>IOPropertyMatch</key>
			<dict>
				<key>WantsMSRP</key>
				<true/>
			</dict>
			<key>IOProviderClass</key>
			<string>IOEthernetInterface</string>
			<key>IOUserClientClass</key>
			<string>IOMSRPTalkerUserClient</string>
		</dict>
		<key>IOMVRP</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.plugin.IOMRPPlugin</string>
			<key>IOClass</key>
			<string>IOMVRP</string>
			<key>IOMatchCategory</key>
			<string>IOMVRP</string>
			<key>IOParentMatch</key>
			<dict>
				<key>IOPropertyMatch</key>
				<dict>
					<key>gPTPPresent</key>
					<true/>
				</dict>
				<key>IOProviderClass</key>
				<string>IOEthernetAVBController</string>
			</dict>
			<key>IOProbeScore</key>
			<integer>0</integer>
			<key>IOPropertyMatch</key>
			<dict>
				<key>WantsMVRP</key>
				<true/>
			</dict>
			<key>IOProviderClass</key>
			<string>IOEthernetInterface</string>
			<key>IOUserClientClass</key>
			<string>IOMVRPUserClient</string>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>IOMRPPlugin 203.2, Copyright © 2010-2013 Apple Inc. All rights reserved.</string>
	<key>OSBundleCompatibleVersion</key>
	<string>200.0</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IOAVBFamily</key>
		<string>200.0</string>
		<key>com.apple.iokit.IOEthernetAVBController</key>
		<string>1.0.3b2</string>
		<key>com.apple.iokit.IONetworkingFamily</key>
		<string>2.0</string>
		<key>com.apple.kpi.bsd</key>
		<string>10.0.0d1</string>
		<key>com.apple.kpi.iokit</key>
		<string>10.0.0d1</string>
		<key>com.apple.kpi.libkern</key>
		<string>10.0.0d1</string>
		<key>com.apple.kpi.mach</key>
		<string>10.0.0d1</string>
	</dict>
</dict>
</plist>
