<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>13C40z</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>IOVideoDeviceLib</string>
	<key>CFBundleGetInfoString</key>
	<string>IOVideoFamily version 1.2.0, Copyright © 2006-2009 Apple Inc.</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.IOVideoDeviceLib</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>IOVideoDeviceLib</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.2.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.2.0</string>
	<key>CFPlugInFactories</key>
	<dict>
		<key>244FFDA3-8AFB-4B4B-8EEE-0AC9515E6BFA</key>
		<string>IOVideoDeviceLibFactory</string>
		<key>26314288-9F4F-4AEF-AEED-1AEFAADB6C39</key>
		<string>IOVideoStreamLibFactory</string>
	</dict>
	<key>CFPlugInTypes</key>
	<dict>
		<key>249BCCFA-54EA-4364-95A9-D714442C1F7B</key>
		<array>
			<string>26314288-9F4F-4AEF-AEED-1AEFAADB6C39</string>
		</array>
		<key>5339633C-F903-4212-9C90-9B18AF01862D</key>
		<array>
			<string>244FFDA3-8AFB-4B4B-8EEE-0AC9515E6BFA</string>
		</array>
	</dict>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>5A2053</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>13C10</string>
	<key>DTSDKName</key>
	<string>macosx10.9internal</string>
	<key>DTXcode</key>
	<string>0501</string>
	<key>DTXcodeBuild</key>
	<string>5A2053</string>
	<key>Personality</key>
	<dict>
		<key>IOProviderClass</key>
		<string>IOVideoDevice</string>
	</dict>
</dict>
</plist>
