<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>13A588</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>AppleUSBTopCaseDriver</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.driver.AppleUSBTopCaseDriver</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>AppleUSBTopCaseDriver</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>10.21</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>10.21</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>5A11344p</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>13A588</string>
	<key>DTSDKName</key>
	<string></string>
	<key>DTXcode</key>
	<string>0500</string>
	<key>DTXcodeBuild</key>
	<string>5A11344p</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>AppleTopCase</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBTopCaseDriver</string>
			<key>IOClass</key>
			<string>AppleUSBTopCaseDevice</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>idProductArray</key>
			<array>
				<integer>624</integer>
				<integer>625</integer>
				<integer>656</integer>
				<integer>657</integer>
			</array>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>AppleUSBTopCaseHIDDriver</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBTopCaseDriver</string>
			<key>ExtendedData</key>
			<array>
				<integer>50399649</integer>
				<integer>50465185</integer>
				<integer>50530721</integer>
				<integer>50596257</integer>
				<integer>61868449</integer>
				<integer>61933985</integer>
				<integer>61999521</integer>
				<integer>62065057</integer>
				<integer>62261665</integer>
			</array>
			<key>IOClass</key>
			<string>AppleUSBTopCaseHIDDriver</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<string>*</string>
			<key>idProductArray</key>
			<array>
				<integer>624</integer>
				<integer>625</integer>
				<integer>656</integer>
				<integer>657</integer>
			</array>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2012 Apple Inc. All rights reserved.</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.driver.AppleHIDKeyboard</key>
		<string>170.2.2</string>
		<key>com.apple.driver.AppleMultitouchDriver</key>
		<string>230.1</string>
		<key>com.apple.driver.AppleUSBComposite</key>
		<string>3.9.0</string>
		<key>com.apple.iokit.IOHIDFamily</key>
		<string>1.4</string>
		<key>com.apple.iokit.IOUSBFamily</key>
		<string>2.0</string>
		<key>com.apple.iokit.IOUSBHIDDriver</key>
		<string>2.0</string>
		<key>com.apple.kpi.bsd</key>
		<string>9.0.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>9.0.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>9.0.0</string>
		<key>com.apple.kpi.mach</key>
		<string>9.0.0</string>
		<key>com.apple.kpi.private</key>
		<string>8.0.0</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Root</string>
</dict>
</plist>
