<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>13A588</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>AppleRAIDCardLib</string>
	<key>CFBundleGetInfoString</key>
	<string>401, Copyright 2007-2009 Apple Inc.</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.plugin.AppleRAIDCardLib</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>AppleRAIDCardLib</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>401</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>401</string>
	<key>CFPlugInDynamicRegistration</key>
	<string>NO</string>
	<key>CFPlugInFactories</key>
	<dict>
		<key>D9BC3462-4EEB-480A-9D3E-4202945F7EC5</key>
		<string>AppleRAIDCardLibFactory</string>
	</dict>
	<key>CFPlugInTypes</key>
	<dict>
		<key>A68DD8B3-7AFB-4B08-B92F-CECA1DDB68C8</key>
		<array>
			<string>D9BC3462-4EEB-480A-9D3E-4202945F7EC5</string>
		</array>
	</dict>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>5A11344p</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>13A588</string>
	<key>DTSDKName</key>
	<string></string>
	<key>DTXcode</key>
	<string>0500</string>
	<key>DTXcodeBuild</key>
	<string>5A11344p</string>
</dict>
</plist>
