<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>13A561</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>AppleFWAudio</string>
	<key>CFBundleGetInfoString</key>
	<string>AppleFWAudio 2.6.8, Copyright 2002-2013 Apple Inc.</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.driver.AppleFWAudio</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>AppleFWAudio</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>2.6.8</string>
	<key>CFBundleSignature</key>
	<string>aaud</string>
	<key>CFBundleVersion</key>
	<string>2.6.8fc5</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>5A11344p</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>13A561</string>
	<key>DTSDKName</key>
	<string>macosx10.9</string>
	<key>DTXcode</key>
	<string>0500</string>
	<key>DTXcodeBuild</key>
	<string>5A11344p</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>AppleFWAudioDevice (AVC)</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleFWAudio</string>
			<key>IOClass</key>
			<string>AppleRemoteAudioDevice</string>
			<key>IOMatchCategory</key>
			<string>IODefaultMatchCategory</string>
			<key>IOProbeScore</key>
			<integer>8192</integer>
			<key>IOProviderClass</key>
			<string>IOFireWireAVCSubUnit</string>
			<key>SubUnit_Type</key>
			<integer>1</integer>
			<key>params</key>
			<array>
				<dict>
					<key>AutoLoad</key>
					<integer>1</integer>
					<key>DeviceType</key>
					<string>musicSubUnit</string>
					<key>InOutOffset</key>
					<integer>8</integer>
					<key>LegacySupport</key>
					<array>
						<dict>
							<key>ModelID</key>
							<integer>63856</integer>
							<key>VendorID</key>
							<integer>12512</integer>
						</dict>
						<dict>
							<key>ModelID</key>
							<integer>8207</integer>
							<key>VendorID</key>
							<integer>4082</integer>
						</dict>
						<dict>
							<key>ModelID</key>
							<integer>64546</integer>
							<key>VendorID</key>
							<integer>5476</integer>
						</dict>
						<dict>
							<key>ModelID</key>
							<integer>1120</integer>
							<key>VendorID</key>
							<integer>4082</integer>
						</dict>
						<dict>
							<key>ModelID</key>
							<integer>53972</integer>
							<key>VendorID</key>
							<integer>4082</integer>
						</dict>
						<dict>
							<key>ModelID</key>
							<integer>50372</integer>
							<key>VendorID</key>
							<integer>4082</integer>
						</dict>
						<dict>
							<key>ModelID</key>
							<integer>63856</integer>
							<key>VendorID</key>
							<integer>12512</integer>
						</dict>
						<dict>
							<key>ModelID</key>
							<integer>8388615</integer>
							<key>VendorID</key>
							<integer>558</integer>
						</dict>
						<dict>
							<key>ModelID</key>
							<integer>1</integer>
							<key>VendorID</key>
							<integer>20674</integer>
						</dict>
						<dict>
							<key>ModelID</key>
							<integer>256</integer>
							<key>VendorID</key>
							<integer>4704</integer>
						</dict>
					</array>
					<key>MasterNode</key>
					<integer>1</integer>
					<key>MaxInputChan</key>
					<integer>0</integer>
					<key>MaxOutputChan</key>
					<integer>2</integer>
					<key>NumBufferBlocks</key>
					<integer>200</integer>
					<key>NumBufferGroups</key>
					<integer>100</integer>
					<key>NumPacketsPerGroup</key>
					<integer>8</integer>
					<key>NumSampleFrames</key>
					<integer>48</integer>
					<key>ServerPath</key>
					<string>/System/Library/Extensions/</string>
					<key>UniqueName</key>
					<integer>1</integer>
					<key>UsingNuDCLs</key>
					<true/>
				</dict>
			</array>
		</dict>
		<key>AppleFWAudioDevice (MLAN)</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleFWAudio</string>
			<key>IOClass</key>
			<string>AppleMLANAudioDevice</string>
			<key>IOMatchCategory</key>
			<string>AppleFireWireAudio</string>
			<key>IOProbeScore</key>
			<integer>8192</integer>
			<key>IOProviderClass</key>
			<string>IOFireWireMagicMatchingNub</string>
		</dict>
		<key>AppleFWAudioDevice (Music)</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleFWAudio</string>
			<key>IOClass</key>
			<string>AppleRemoteAudioDevice</string>
			<key>IOMatchCategory</key>
			<string>IODefaultMatchCategory</string>
			<key>IOProbeScore</key>
			<integer>16384</integer>
			<key>IOProviderClass</key>
			<string>IOFireWireAVCSubUnit</string>
			<key>SubUnit_Type</key>
			<integer>12</integer>
			<key>params</key>
			<array>
				<dict>
					<key>AutoLoad</key>
					<integer>1</integer>
					<key>DeviceType</key>
					<string>musicSubUnit</string>
					<key>InOutOffset</key>
					<integer>8</integer>
					<key>LegacySupport</key>
					<array>
						<dict>
							<key>ModelID</key>
							<integer>63856</integer>
							<key>VendorID</key>
							<integer>12512</integer>
						</dict>
						<dict>
							<key>ModelID</key>
							<integer>8207</integer>
							<key>VendorID</key>
							<integer>4082</integer>
						</dict>
						<dict>
							<key>ModelID</key>
							<integer>64546</integer>
							<key>VendorID</key>
							<integer>5476</integer>
						</dict>
						<dict>
							<key>ModelID</key>
							<integer>1120</integer>
							<key>VendorID</key>
							<integer>4082</integer>
						</dict>
						<dict>
							<key>ModelID</key>
							<integer>53972</integer>
							<key>VendorID</key>
							<integer>4082</integer>
						</dict>
						<dict>
							<key>ModelID</key>
							<integer>50372</integer>
							<key>VendorID</key>
							<integer>4082</integer>
						</dict>
						<dict>
							<key>ModelID</key>
							<integer>63856</integer>
							<key>VendorID</key>
							<integer>12512</integer>
						</dict>
						<dict>
							<key>ModelID</key>
							<integer>8388615</integer>
							<key>VendorID</key>
							<integer>558</integer>
						</dict>
						<dict>
							<key>ModelID</key>
							<integer>1</integer>
							<key>VendorID</key>
							<integer>20674</integer>
						</dict>
					</array>
					<key>MasterNode</key>
					<integer>1</integer>
					<key>MaxInputChan</key>
					<integer>0</integer>
					<key>MaxOutputChan</key>
					<integer>2</integer>
					<key>NumBufferBlocks</key>
					<integer>200</integer>
					<key>NumBufferGroups</key>
					<integer>100</integer>
					<key>NumPacketsPerGroup</key>
					<integer>8</integer>
					<key>NumSampleFrames</key>
					<integer>48</integer>
					<key>ServerPath</key>
					<string>/System/Library/Extensions/</string>
					<key>UniqueName</key>
					<integer>1</integer>
					<key>UsingNuDCLs</key>
					<true/>
				</dict>
			</array>
		</dict>
	</dict>
	<key>OSBundleCompatibleVersion</key>
	<string>1.0.7b1</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IOAudioFamily</key>
		<string>1.1.0fc3</string>
		<key>com.apple.iokit.IOFireWireAVC</key>
		<string>1.0.0</string>
		<key>com.apple.iokit.IOFireWireFamily</key>
		<string>1.0.0</string>
		<key>com.apple.kpi.bsd</key>
		<string>9.0.0d2</string>
		<key>com.apple.kpi.iokit</key>
		<string>9.0.0d2</string>
		<key>com.apple.kpi.libkern</key>
		<string>9.0.0d2</string>
		<key>com.apple.kpi.mach</key>
		<string>9.0.0d2</string>
	</dict>
</dict>
</plist>
