<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>13A588</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>IOStreamLib</string>
	<key>CFBundleGetInfoString</key>
	<string>IOStreamFamily version 1.0.0, Copyright 2006 Apple Computer, Inc.</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.IOStreamLib</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>IOStreamLib</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.1.0</string>
	<key>CFPlugInFactories</key>
	<dict>
		<key>1A3C8A6A-BD6A-41AD-93B0-4789A2333BAD</key>
		<string>IOStreamLibFactory</string>
	</dict>
	<key>CFPlugInTypes</key>
	<dict>
		<key>57C89438-A0A2-4AFC-9FF2-DE64C02F815C</key>
		<array>
			<string>1A3C8A6A-BD6A-41AD-93B0-4789A2333BAD</string>
		</array>
	</dict>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>5A11344p</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>13A588</string>
	<key>DTSDKName</key>
	<string></string>
	<key>DTXcode</key>
	<string>0500</string>
	<key>DTXcodeBuild</key>
	<string>5A11344p</string>
	<key>Personality</key>
	<dict>
		<key>IOProviderClass</key>
		<string>IOStream</string>
	</dict>
</dict>
</plist>
