<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.BezelServices.${PRODUCT_NAME:rfc1034identifier}</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>${MODULE_VERSION}</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>${MODULE_VERSION}</string>
	<key>BezelServicesPlugin</key>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.apple.driver.IOBluetoothHIDDriver</string>
		<key>Classes</key>
		<dict>
			<key>IOAppleBluetoothHIDDriver</key>
			<dict>
				<key>LogBatteryPercent</key>
				<true/>
				<key>Messages</key>
				<dict>
					<key>2007KeyboardCriticalLowBattery</key>
					<dict>
						<key>Action</key>
						<string>2007KeyboardCriticalLowBatteryNC</string>
						<key>SuppressBatteryActions</key>
						<true/>
						<key>LogBatteryPercentNow</key>
						<true/>
					</dict>
					<key>2007KeyboardLowBattery</key>
					<dict>
						<key>Action</key>
						<string>2007KeyboardLowBatteryNC</string>
						<key>SuppressBatteryActions</key>
						<true/>
						<key>LogBatteryPercentNow</key>
						<true/>
					</dict>
					<key>2007KeyboardConnected</key>
					<dict>
						<key>Action</key>
						<string>2007KeyboardConnectOSD</string>
						<key>SuppressConnectionActions</key>
						<true/>
						<key>CancelsPendingAction</key>
						<string>2007KeyboardDisconnectOSD</string>
						<key>CancelsSelf</key>
						<true/>
					</dict>
					<key>2007KeyboardDisconnected</key>
					<dict>
						<key>Action</key>
						<string>2007KeyboardDisconnectOSD</string>
						<key>SuppressConnectionActions</key>
						<true/>
						<key>DelayMS</key>
						<integer>8000</integer>
						<key>DelayCondition</key>
						<string>KeyboardInactive</string>
					</dict>
				</dict>
				<key>Actions</key>
				<dict>
					<key>2007KeyboardLowBatteryNC</key>
					<dict>
						<key>Type</key>
						<string>NotificationCenter</string>
						<key>NCImageURL</key>
						<string>Keyboard.icns</string>
						<key>NCTitle</key>
						<string>KeyboardLowBatteryHeader</string>
						<key>NCInformativeText</key>
						<string>KeyboardLowBatteryText</string>
					</dict>
					<key>2007KeyboardCriticalLowBatteryNC</key>
					<dict>
						<key>NCPrefPaneDeviceType</key>
						<string>Keyboard</string>
						<key>NCHelpButtonText</key>
						<string>HelpButtonText</string>
						<key>Type</key>
						<string>NotificationCenter</string>
						<key>NCImageURL</key>
						<string>Keyboard.icns</string>
						<key>NCTitle</key>
						<string>KeyboardDangerouslyLowHeader</string>
						<key>NCInformativeText</key>
						<string>KeyboardDangerouslyLowText</string>
					</dict>
					<key>2007KeyboardDisconnectOSD</key>
					<dict>
						<key>Type</key>
						<string>OSD</string>
						<key>DurationMS</key>
						<string>2000</string>
						<key>MessageKey</key>
						<string>KeyboardDisconnectedText</string>
						<key>Image</key>
						<string>BtEmbeddedKeyboard.pdf</string>
						<key>Priority</key>
						<string>600</string>
					</dict>
					<key>2007KeyboardConnectOSD</key>
					<dict>
						<key>Type</key>
						<string>OSD</string>
						<key>DurationMS</key>
						<integer>2000</integer>
						<key>Image</key>
						<string>BtEmbeddedKeyboard.pdf</string>
						<key>MessageKey</key>
						<string>KeyboardConnectedText</string>
						<key>Priority</key>
						<string>600</string>
					</dict>
				</dict>
			</dict>
		</dict>
		<key>Version</key>
		<string>2</string>
	</dict>
</dict>
</plist>
