<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>13C44</string>
	<key>CFBundleExecutable</key>
	<string>IOHIDFamily</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.iokit.IOHIDFamily</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>IOHIDFamily</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>2.0.0</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>5A2053</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>13C44</string>
	<key>DTSDKName</key>
	<string></string>
	<key>DTXcode</key>
	<string>0501</string>
	<key>DTXcodeBuild</key>
	<string>5A2053</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>IOHIDResource</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.IOHIDFamily</string>
			<key>IOClass</key>
			<string>IOHIDResource</string>
			<key>IOMatchCategory</key>
			<string>IOHIDResource</string>
			<key>IOProviderClass</key>
			<string>IOResources</string>
			<key>IOResourceMatch</key>
			<string>IOBSD</string>
			<key>IOUserClientClass</key>
			<string>IOHIDResourceDeviceUserClient</string>
		</dict>
		<key>IOHIDSystem</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.IOHIDFamily</string>
			<key>HIDPowerOnDelayNS</key>
			<integer>500000000</integer>
			<key>HIDScrollCountBootDefault</key>
			<dict>
				<key>HIDScrollCountAccelerationFactor</key>
				<integer>163840</integer>
				<key>HIDScrollCountIgnoreMomentumScrolls</key>
				<true/>
				<key>HIDScrollCountMax</key>
				<integer>2000</integer>
				<key>HIDScrollCountMaxTimeDeltaBetween</key>
				<integer>600</integer>
				<key>HIDScrollCountMaxTimeDeltaToSustain</key>
				<integer>250</integer>
				<key>HIDScrollCountMinDeltaToStart</key>
				<integer>30</integer>
				<key>HIDScrollCountMinDeltaToSustain</key>
				<integer>20</integer>
				<key>HIDScrollCountMouseCanReset</key>
				<true/>
			</dict>
			<key>IOClass</key>
			<string>IOHIDSystem</string>
			<key>IOMatchCategory</key>
			<string>IOHID</string>
			<key>IOProviderClass</key>
			<string>IOResources</string>
			<key>IOResourceMatch</key>
			<string>IOBSD</string>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>"Copyright © 2000-2012 Apple Inc. All rights reserved. [IOHIDFamily-503.90.3]"</string>
	<key>OSBundleCompatibleVersion</key>
	<string>1.0.0b1</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.driver.AppleFDEKeyStore</key>
		<string>28.21</string>
		<key>com.apple.kpi.bsd</key>
		<string>11.0</string>
		<key>com.apple.kpi.dsep</key>
		<string>11.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>11.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>11.0</string>
		<key>com.apple.kpi.mach</key>
		<string>11.0</string>
		<key>com.apple.kpi.private</key>
		<string>11.0</string>
		<key>com.apple.kpi.unsupported</key>
		<string>11.0</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Root</string>
</dict>
</plist>
