<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildAliasOf</key>
	<string>DiskImages</string>
	<key>BuildVersion</key>
	<string>118</string>
	<key>CFBundleShortVersionString</key>
	<string>10.9</string>
	<key>CFBundleVersion</key>
	<string>371.1</string>
	<key>ProjectName</key>
	<string>DiskImages_kexts</string>
	<key>SourceVersion</key>
	<string>371001000000000</string>
</dict>
</plist>
