<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>13A588</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>AppleTopCaseHIDEventDriver</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.driver.AppleTopCaseHIDEventDriver</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>AppleTopCaseHIDEventDriver</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>10.21</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>10.21</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>5A11344p</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>13A588</string>
	<key>DTSDKName</key>
	<string></string>
	<key>DTXcode</key>
	<string>0500</string>
	<key>DTXcodeBuild</key>
	<string>5A11344p</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>Keyboard-Event - 656</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleHIDKeyboard</string>
			<key>CapsLockDelay</key>
			<integer>75</integer>
			<key>DeviceUsagePairs</key>
			<array>
				<dict>
					<key>DeviceUsage</key>
					<integer>6</integer>
					<key>DeviceUsagePage</key>
					<integer>1</integer>
				</dict>
			</array>
			<key>FnKeyboardUsageMap</key>
			<string>0x00070050,0x0007004a,0x00070052,0x0007004b,0x0007002a,0x0007004c,0x0007004f,0x0007004d,0x00070051,0x0007004e,0x00070028,0x00070058</string>
			<key>FnModifierUsage</key>
			<integer>3</integer>
			<key>FnModifierUsagePage</key>
			<integer>255</integer>
			<key>IOClass</key>
			<string>AppleHIDKeyboardEventDriverV2</string>
			<key>IOProviderClass</key>
			<string>IOHIDInterface</string>
			<key>NumLockKeyboardUsageMap</key>
			<string>0x00070029,0x00070029,0x0007002a,0x0007002a,0x0007002b,0x0007002b,0x0007003a,0x0007003a,0x0007003b,0x0007003b,0x0007003c,0x0007003c,0x0007003d,0x0007003d,0x0007003e,0x0007003e,0x0007003f,0x0007003f,0x00070040,0x00070040,0x00070041,0x00070041,0x00070042,0x00070042,0x00070043,0x00070043,0x00070044,0x00070044,0x00070045,0x00070045,0x0007004a,0x0007004a,0x0007004b,0x0007004b,0x0007004c,0x0007004c,0x0007004d,0x0007004d,0x0007004e,0x0007004e,0x0007004f,0x0007004f,0x00070050,0x00070050,0x00070051,0x00070051,0x00070052,0x00070052,0x0007000d,0x00070059,0x0007000e,0x0007005a,0x0007000f,0x0007005b,0x00070018,0x0007005c,0x0007000c,0x0007005d,0x00070012,0x0007005e,0x00070024,0x0007005f,0x00070025,0x00070060,0x00070026,0x00070061,0x00070010,0x00070062,0x00070037,0x00070063,0x00070082,0x00070082,0x000700e0,0x000700e0,0x000700e1,0x000700e1,0x000700e2,0x000700e2,0x000700e3,0x000700e3,0x000700e4,0x000700e4,0x000700e5,0x000700e5,0x000700e6,0x000700e6,0x000700e7,0x000700e7</string>
			<key>ProductID</key>
			<integer>656</integer>
			<key>VendorID</key>
			<integer>1452</integer>
		</dict>
		<key>Keyboard-Event - 657</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleHIDKeyboard</string>
			<key>CapsLockDelay</key>
			<integer>75</integer>
			<key>DeviceUsagePairs</key>
			<array>
				<dict>
					<key>DeviceUsage</key>
					<integer>6</integer>
					<key>DeviceUsagePage</key>
					<integer>1</integer>
				</dict>
			</array>
			<key>FnKeyboardUsageMap</key>
			<string>0x00070050,0x0007004a,0x00070052,0x0007004b,0x0007002a,0x0007004c,0x0007004f,0x0007004d,0x00070051,0x0007004e,0x00070028,0x00070058</string>
			<key>FnModifierUsage</key>
			<integer>3</integer>
			<key>FnModifierUsagePage</key>
			<integer>255</integer>
			<key>IOClass</key>
			<string>AppleHIDKeyboardEventDriverV2</string>
			<key>IOProviderClass</key>
			<string>IOHIDInterface</string>
			<key>NumLockKeyboardUsageMap</key>
			<string>0x00070029,0x00070029,0x0007002a,0x0007002a,0x0007002b,0x0007002b,0x0007003a,0x0007003a,0x0007003b,0x0007003b,0x0007003c,0x0007003c,0x0007003d,0x0007003d,0x0007003e,0x0007003e,0x0007003f,0x0007003f,0x00070040,0x00070040,0x00070041,0x00070041,0x00070042,0x00070042,0x00070043,0x00070043,0x00070044,0x00070044,0x00070045,0x00070045,0x0007004a,0x0007004a,0x0007004b,0x0007004b,0x0007004c,0x0007004c,0x0007004d,0x0007004d,0x0007004e,0x0007004e,0x0007004f,0x0007004f,0x00070050,0x00070050,0x00070051,0x00070051,0x00070052,0x00070052,0x0007000d,0x00070059,0x0007000e,0x0007005a,0x0007000f,0x0007005b,0x00070018,0x0007005c,0x0007000c,0x0007005d,0x00070012,0x0007005e,0x00070024,0x0007005f,0x00070025,0x00070060,0x00070026,0x00070061,0x00070010,0x00070062,0x00070037,0x00070063,0x00070082,0x00070082,0x000700e0,0x000700e0,0x000700e1,0x000700e1,0x000700e2,0x000700e2,0x000700e3,0x000700e3,0x000700e4,0x000700e4,0x000700e5,0x000700e5,0x000700e6,0x000700e6,0x000700e7,0x000700e7</string>
			<key>ProductID</key>
			<integer>657</integer>
			<key>VendorID</key>
			<integer>1452</integer>
		</dict>
		<key>Trackpad-Event - 656</key>
		<dict>
			<key>ApplePreferenceCapability</key>
			<integer>1</integer>
			<key>ApplePreferenceIdentifier</key>
			<string>com.apple.AppleMultitouchTrackpad</string>
			<key>ApplePreferencesDefaultPreferences</key>
			<dict>
				<key>Clicking</key>
				<integer>0</integer>
				<key>DragLock</key>
				<integer>0</integer>
				<key>Dragging</key>
				<integer>0</integer>
				<key>TrackpadCornerSecondaryClick</key>
				<integer>0</integer>
				<key>TrackpadFiveFingerPinchGesture</key>
				<integer>2</integer>
				<key>TrackpadFourFingerHorizSwipeGesture</key>
				<integer>2</integer>
				<key>TrackpadFourFingerPinchGesture</key>
				<integer>2</integer>
				<key>TrackpadFourFingerVertSwipeGesture</key>
				<integer>2</integer>
				<key>TrackpadHorizScroll</key>
				<integer>1</integer>
				<key>TrackpadMomentumScroll</key>
				<true/>
				<key>TrackpadPinch</key>
				<integer>1</integer>
				<key>TrackpadRightClick</key>
				<true/>
				<key>TrackpadRotate</key>
				<integer>1</integer>
				<key>TrackpadScroll</key>
				<true/>
				<key>TrackpadThreeFingerDrag</key>
				<false/>
				<key>TrackpadThreeFingerHorizSwipeGesture</key>
				<integer>2</integer>
				<key>TrackpadThreeFingerVertSwipeGesture</key>
				<integer>2</integer>
			</dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleTopCaseHIDEventDriver</string>
			<key>DefaultMultitouchProperties</key>
			<dict>
				<key>ExtractAndPostDeviceButtonState</key>
				<true/>
				<key>HIDServiceSupport</key>
				<true/>
				<key>IOCFPlugInTypes</key>
				<dict>
					<key>0516B563-B15B-11DA-96EB-0014519758EF</key>
					<string>AppleMultitouchDriver.kext/Contents/PlugIns/MultitouchHID.plugin</string>
				</dict>
				<key>MT Built-In</key>
				<true/>
				<key>MTHIDDevice</key>
				<true/>
				<key>SupportsGestureScrolling</key>
				<true/>
				<key>TrackpadFourFingerGestures</key>
				<true/>
				<key>TrackpadMomentumScroll</key>
				<true/>
				<key>TrackpadSecondaryClickCorners</key>
				<true/>
				<key>TrackpadThreeFingerDrag</key>
				<true/>
				<key>parser-options</key>
				<integer>39</integer>
				<key>parser-type</key>
				<integer>1000</integer>
			</dict>
			<key>DeviceUsagePairs</key>
			<array>
				<dict>
					<key>DeviceUsage</key>
					<integer>2</integer>
					<key>DeviceUsagePage</key>
					<integer>1</integer>
				</dict>
			</array>
			<key>DoReportIntervalHack</key>
			<true/>
			<key>GestureScrolling</key>
			<true/>
			<key>HIDAccelCurves</key>
			<array>
				<dict>
					<key>HIDAccelGainLinear</key>
					<integer>65536</integer>
					<key>HIDAccelIndex</key>
					<integer>0</integer>
					<key>HIDAccelTangentSpeedLinear</key>
					<integer>484966</integer>
					<key>HIDAccelTangentSpeedParabolicRoot</key>
					<integer>1376256</integer>
				</dict>
				<dict>
					<key>HIDAccelGainCubic</key>
					<integer>5243</integer>
					<key>HIDAccelGainLinear</key>
					<integer>64881</integer>
					<key>HIDAccelGainParabolic</key>
					<integer>32768</integer>
					<key>HIDAccelIndex</key>
					<integer>8192</integer>
					<key>HIDAccelTangentSpeedLinear</key>
					<integer>478413</integer>
					<key>HIDAccelTangentSpeedParabolicRoot</key>
					<integer>1310720</integer>
				</dict>
				<dict>
					<key>HIDAccelGainCubic</key>
					<integer>6554</integer>
					<key>HIDAccelGainLinear</key>
					<integer>64225</integer>
					<key>HIDAccelGainParabolic</key>
					<integer>43254</integer>
					<key>HIDAccelIndex</key>
					<integer>32768</integer>
					<key>HIDAccelTangentSpeedLinear</key>
					<integer>471859</integer>
					<key>HIDAccelTangentSpeedParabolicRoot</key>
					<integer>1245184</integer>
				</dict>
				<dict>
					<key>HIDAccelGainCubic</key>
					<integer>7864</integer>
					<key>HIDAccelGainLinear</key>
					<integer>62915</integer>
					<key>HIDAccelGainParabolic</key>
					<integer>54395</integer>
					<key>HIDAccelIndex</key>
					<integer>45056</integer>
					<key>HIDAccelTangentSpeedLinear</key>
					<integer>465306</integer>
					<key>HIDAccelTangentSpeedParabolicRoot</key>
					<integer>1179648</integer>
				</dict>
				<dict>
					<key>HIDAccelGainCubic</key>
					<integer>9830</integer>
					<key>HIDAccelGainLinear</key>
					<integer>61604</integer>
					<key>HIDAccelGainParabolic</key>
					<integer>65536</integer>
					<key>HIDAccelIndex</key>
					<integer>57344</integer>
					<key>HIDAccelTangentSpeedLinear</key>
					<integer>458752</integer>
					<key>HIDAccelTangentSpeedParabolicRoot</key>
					<integer>1114112</integer>
				</dict>
				<dict>
					<key>HIDAccelGainCubic</key>
					<integer>11796</integer>
					<key>HIDAccelGainLinear</key>
					<integer>60293</integer>
					<key>HIDAccelGainParabolic</key>
					<integer>75366</integer>
					<key>HIDAccelIndex</key>
					<integer>65536</integer>
					<key>HIDAccelTangentSpeedLinear</key>
					<integer>458752</integer>
					<key>HIDAccelTangentSpeedParabolicRoot</key>
					<integer>1048576</integer>
				</dict>
				<dict>
					<key>HIDAccelGainCubic</key>
					<integer>13763</integer>
					<key>HIDAccelGainLinear</key>
					<integer>58327</integer>
					<key>HIDAccelGainParabolic</key>
					<integer>85197</integer>
					<key>HIDAccelIndex</key>
					<integer>98304</integer>
					<key>HIDAccelTangentSpeedLinear</key>
					<integer>458752</integer>
					<key>HIDAccelTangentSpeedParabolicRoot</key>
					<integer>983040</integer>
				</dict>
				<dict>
					<key>HIDAccelGainCubic</key>
					<integer>15729</integer>
					<key>HIDAccelGainLinear</key>
					<integer>56361</integer>
					<key>HIDAccelGainParabolic</key>
					<integer>95027</integer>
					<key>HIDAccelIndex</key>
					<integer>131072</integer>
					<key>HIDAccelTangentSpeedLinear</key>
					<integer>458752</integer>
					<key>HIDAccelTangentSpeedParabolicRoot</key>
					<integer>917504</integer>
				</dict>
				<dict>
					<key>HIDAccelGainCubic</key>
					<integer>18350</integer>
					<key>HIDAccelGainLinear</key>
					<integer>54395</integer>
					<key>HIDAccelGainParabolic</key>
					<integer>108790</integer>
					<key>HIDAccelIndex</key>
					<integer>163840</integer>
					<key>HIDAccelTangentSpeedLinear</key>
					<integer>458752</integer>
					<key>HIDAccelTangentSpeedParabolicRoot</key>
					<integer>851968</integer>
				</dict>
				<dict>
					<key>HIDAccelGainCubic</key>
					<integer>23593</integer>
					<key>HIDAccelGainLinear</key>
					<integer>65536</integer>
					<key>HIDAccelGainParabolic</key>
					<integer>123208</integer>
					<key>HIDAccelIndex</key>
					<integer>196608</integer>
					<key>HIDAccelTangentSpeedLinear</key>
					<integer>458752</integer>
					<key>HIDAccelTangentSpeedParabolicRoot</key>
					<integer>786432</integer>
				</dict>
			</array>
			<key>HIDDisallowRemappingOfPrimaryClick</key>
			<true/>
			<key>HIDPointerAccelerationTable</key>
			<data>
			AACAAFVTQioABwAAAAAAAgAEAAAABAAAABAAAAAQAAAAACAAAA0A
			AIAAAACAAAABQAAAAYAAAAIAAAAC4AAAAwAAAATgAAAEAAAAB0AA
			AAUAAAAKAAAABgAAAA1AAAAIAAAAFgAAAArAAAAjAAAADQAAAC8A
			AAAOwAAAOMAAABBAAABBAAAAEcAAAEjAAAAAUAAADwAAgAAAAIAA
			AAEAAAABQAAAAYAAAAJAAAACAAAAA4AAAAKAAAAE4AAAAwAAAAZg
			AAAEAAAACgAAAAUAAAAOQAAABgAAABNAAAAIAAAAHsAAAArAAAAu
			wAAADQAAADyAAAAOwAAARwAAABBAAABPwAAAEcAAAFiAAAAAgAAA
			DwAAgAAAAIAAAAEAAAABYAAAAYAAAAKgAAACAAAABEAAAAKAAAAG
			AAAAAwAAAAgAAAAEAAAADQAAAAUAAAASwAAABgAAABkAAAAIAAAA
			KAAAAArAAAA7wAAADQAAAEuAAAAOwAAAV0AAABBAAABgQAAAEcAA
			AGkAAAAAsAAADwAAgAAAAIAAAAEAAAABoAAAAYAAAAMAAAACAAAA
			BQAAAAKAAAAHQAAAAwAAAAnAAAAEAAAAEEAAAAUAAAAXgAAABgAA
			AB/AAAAIAAAAMgAAAArAAABKAAAADQAAAFyAAAAOwAAAaQAAABBA
			AABywAAAEcAAAHrAAAAA4AAADwAAgAAAAKAAAAEAAAABwAAAAYAA
			AANgAAACAAAABeAAAAKAAAAIoAAAAwAAAAvAAAAEAAAAE8AAAAUA
			AAAdQAAABgAAACfAAAAIAAAAPcAAAArAAABZAAAADQAAAG3AAAAO
			wAAAe0AAABBAAACFQAAAEcAAAIxAAAABAAAADwAAgAAAAMAAAAEA
			AAACAAAAAYAAAAPgAAACAAAABsAAAAKAAAAKQAAAAwAAAA5gAAAE
			AAAAGMAAAAUAAAAkwAAABgAAADLAAAAIAAAATUAAAArAAABugAAA
			DQAAAIMAAAAOwAAAj0AAABBAAACXAAAAEcAAAJxA
			</data>
			<key>HIDPointerAccelerationType</key>
			<string>HIDTrackpadAcceleration</string>
			<key>HIDScrollAccelCurves</key>
			<array>
				<dict>
					<key>HIDAccelGainLinear</key>
					<integer>85197</integer>
					<key>HIDAccelGainParabolic</key>
					<integer>13107</integer>
					<key>HIDAccelIndex</key>
					<integer>8192</integer>
					<key>HIDAccelTangentSpeedLinear</key>
					<integer>851968</integer>
					<key>HIDAccelTangentSpeedParabolicRoot</key>
					<integer>1310720</integer>
				</dict>
				<dict>
					<key>HIDAccelGainLinear</key>
					<integer>95027</integer>
					<key>HIDAccelGainParabolic</key>
					<integer>32768</integer>
					<key>HIDAccelIndex</key>
					<integer>14090</integer>
					<key>HIDAccelTangentSpeedLinear</key>
					<integer>786432</integer>
					<key>HIDAccelTangentSpeedParabolicRoot</key>
					<integer>1245184</integer>
				</dict>
				<dict>
					<key>HIDAccelGainLinear</key>
					<integer>104858</integer>
					<key>HIDAccelGainParabolic</key>
					<integer>45875</integer>
					<key>HIDAccelIndex</key>
					<integer>20480</integer>
					<key>HIDAccelTangentSpeedLinear</key>
					<integer>720896</integer>
					<key>HIDAccelTangentSpeedParabolicRoot</key>
					<integer>1179648</integer>
				</dict>
				<dict>
					<key>HIDAccelGainLinear</key>
					<integer>114688</integer>
					<key>HIDAccelGainParabolic</key>
					<integer>57017</integer>
					<key>HIDAccelIndex</key>
					<integer>32768</integer>
					<key>HIDAccelTangentSpeedLinear</key>
					<integer>655360</integer>
					<key>HIDAccelTangentSpeedParabolicRoot</key>
					<integer>1114112</integer>
				</dict>
				<dict>
					<key>HIDAccelGainLinear</key>
					<integer>124519</integer>
					<key>HIDAccelGainParabolic</key>
					<integer>68813</integer>
					<key>HIDAccelIndex</key>
					<integer>49152</integer>
					<key>HIDAccelTangentSpeedLinear</key>
					<integer>589824</integer>
					<key>HIDAccelTangentSpeedParabolicRoot</key>
					<integer>1048576</integer>
				</dict>
				<dict>
					<key>HIDAccelGainLinear</key>
					<integer>134349</integer>
					<key>HIDAccelGainParabolic</key>
					<integer>81920</integer>
					<key>HIDAccelIndex</key>
					<integer>65536</integer>
					<key>HIDAccelTangentSpeedLinear</key>
					<integer>524288</integer>
					<key>HIDAccelTangentSpeedParabolicRoot</key>
					<integer>983040</integer>
				</dict>
				<dict>
					<key>HIDAccelGainLinear</key>
					<integer>144179</integer>
					<key>HIDAccelGainParabolic</key>
					<integer>98304</integer>
					<key>HIDAccelIndex</key>
					<integer>111411</integer>
					<key>HIDAccelTangentSpeedLinear</key>
					<integer>458752</integer>
					<key>HIDAccelTangentSpeedParabolicRoot</key>
					<integer>917504</integer>
				</dict>
			</array>
			<key>HIDScrollAccelerationTable</key>
			<data>
			AACAAFVTQioABwAAAAAAAQABAAAAAQAAAAAgAAAQAABxOwAATOMA
			AwAAAAdgAAAEwAAADoAAAAbxSgAX6V4ACVeCACMQWgALZ6EALBF7
			AA2N1AA03ToAD36aADvQuAASWKAARl01ABUAAABO2dgAF8AAAFXK
			7QAas+UAW2FQAB2QAABe0qoAIL75AGEgywAkLXsAYnXvACewAABj
			Rl8AAIAAABMAAHE7AABWfwABAAAAAuAAAAIAAAAJYAAAAwAAABIA
			AAAEwAAAIMAAAAaAAAAwgAAACGp5AEH9tgAK7bUAV4ZuAA0B2ABr
			PTkADv1/AIEEcAAQy5gAkdRWABJouQCe3VAAE+c/AKikCgAXAucA
			tn2SABot3ADARE4AHVjQAMX4OgAg35IAytuYACQ4bgDO7mUAJ6CX
			ANIwowAAsAAAFAAAcTsAAGFOAADAAAABwAAAAQAAAANgAAACAAAA
			DCAAAAMAAAAW4AAABMAAACnAAAAGQAAAOsAAAAfOggBP7OcACgWA
			AGo8rgAL658AhMCkAA2RCwCfR+EADzjIALWDbwAQ/k8AxqbEABLN
			UQDUeCMAFepmAOTKxwAZoVYA8qFmAB1CvwD7fXwAIQuCAQFpdAAk
			S20BBVKIACegAAEIK4wAAOAAABQAAHE7AABtdwAAwAAAAeAAAAEA
			AAAD4AAAAgAAAA6AAAADAAAAHEAAAATAAAA0AAAABgAAAEdAAAAH
			N4wAXL7hAAkAAACAwAAACoAAAKGAAAALz7IAvU7UAA01yQDadikA
			DvtPAPKF4gARLu4BCSWiABUlDwEfV8QAGT9oASzRKgAdChkBNQrG
			ACDz5QE6cR4AJEARAT3XdgAnn1YBQMHWAABQAAATAABxOwAAS7AA
			AQAAAAJgAAACAAAABuAAAAMAAAAMYAAABMAAABcAAAAGwAAAJAAA
			AAkAAAAyAAAACz1uAEFngAANcE8AUMGhAA+sTQBgSTMAEagdAG5N
			TAATT9YAd9WQABTQfgB+26MAF3odAIbYXQAagocAjp+lAB2J6QCT
			vnkAIN/yAJdcWwAkO0IAmYu9ACegOACacdcAAQAAABUAAHE7AABW
			fwAAwAAAAiAAAAEAAAAEgAAAAYAAAAqAAAACAAAAEaAAAAMAAAAh
			gAAABMAAAD6AAAAFwAAAVEAAAAbAAABrAAAACAAAAIxAAAAJAAAA
			qYAAAApAAADKwAAAC8AAAPTAAAANwAABJAAAABAAAAFEn9IAFEAA
			AV49zAAZAAABbrsYABzQAAFz78AAIOAAAXhvwAAkIAABem/AACeg
			AAF8JGg=
			</data>
			<key>HIDScrollAccelerationType</key>
			<string>HIDTrackpadScrollAcceleration</string>
			<key>HIDScrollResolution</key>
			<integer>26214400</integer>
			<key>IOClass</key>
			<string>AppleMultitouchTrackpadHIDEventDriver</string>
			<key>IOProviderClass</key>
			<string>IOHIDInterface</string>
			<key>MTEventSource</key>
			<true/>
			<key>ProductID</key>
			<integer>656</integer>
			<key>ReportProtocolChangeVersion</key>
			<integer>144</integer>
			<key>ShouldHandleButton</key>
			<true/>
			<key>TrackpadEmbedded</key>
			<true/>
			<key>VendorID</key>
			<integer>1452</integer>
		</dict>
		<key>Trackpad-Event - 657</key>
		<dict>
			<key>ApplePreferenceCapability</key>
			<integer>1</integer>
			<key>ApplePreferenceIdentifier</key>
			<string>com.apple.AppleMultitouchTrackpad</string>
			<key>ApplePreferencesDefaultPreferences</key>
			<dict>
				<key>Clicking</key>
				<integer>0</integer>
				<key>DragLock</key>
				<integer>0</integer>
				<key>Dragging</key>
				<integer>0</integer>
				<key>TrackpadCornerSecondaryClick</key>
				<integer>0</integer>
				<key>TrackpadFiveFingerPinchGesture</key>
				<integer>2</integer>
				<key>TrackpadFourFingerHorizSwipeGesture</key>
				<integer>2</integer>
				<key>TrackpadFourFingerPinchGesture</key>
				<integer>2</integer>
				<key>TrackpadFourFingerVertSwipeGesture</key>
				<integer>2</integer>
				<key>TrackpadHorizScroll</key>
				<integer>1</integer>
				<key>TrackpadMomentumScroll</key>
				<true/>
				<key>TrackpadPinch</key>
				<integer>1</integer>
				<key>TrackpadRightClick</key>
				<true/>
				<key>TrackpadRotate</key>
				<integer>1</integer>
				<key>TrackpadScroll</key>
				<true/>
				<key>TrackpadThreeFingerDrag</key>
				<false/>
				<key>TrackpadThreeFingerHorizSwipeGesture</key>
				<integer>2</integer>
				<key>TrackpadThreeFingerVertSwipeGesture</key>
				<integer>2</integer>
			</dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleTopCaseHIDEventDriver</string>
			<key>DefaultMultitouchProperties</key>
			<dict>
				<key>ExtractAndPostDeviceButtonState</key>
				<true/>
				<key>HIDServiceSupport</key>
				<true/>
				<key>IOCFPlugInTypes</key>
				<dict>
					<key>0516B563-B15B-11DA-96EB-0014519758EF</key>
					<string>AppleMultitouchDriver.kext/Contents/PlugIns/MultitouchHID.plugin</string>
				</dict>
				<key>MT Built-In</key>
				<true/>
				<key>MTHIDDevice</key>
				<true/>
				<key>SupportsGestureScrolling</key>
				<true/>
				<key>TrackpadFourFingerGestures</key>
				<true/>
				<key>TrackpadMomentumScroll</key>
				<true/>
				<key>TrackpadSecondaryClickCorners</key>
				<true/>
				<key>TrackpadThreeFingerDrag</key>
				<true/>
				<key>parser-options</key>
				<integer>39</integer>
				<key>parser-type</key>
				<integer>1000</integer>
			</dict>
			<key>DeviceUsagePairs</key>
			<array>
				<dict>
					<key>DeviceUsage</key>
					<integer>2</integer>
					<key>DeviceUsagePage</key>
					<integer>1</integer>
				</dict>
			</array>
			<key>DoReportIntervalHack</key>
			<true/>
			<key>GestureScrolling</key>
			<true/>
			<key>HIDAccelCurves</key>
			<array>
				<dict>
					<key>HIDAccelGainLinear</key>
					<integer>65536</integer>
					<key>HIDAccelIndex</key>
					<integer>0</integer>
					<key>HIDAccelTangentSpeedLinear</key>
					<integer>484966</integer>
					<key>HIDAccelTangentSpeedParabolicRoot</key>
					<integer>1376256</integer>
				</dict>
				<dict>
					<key>HIDAccelGainCubic</key>
					<integer>5243</integer>
					<key>HIDAccelGainLinear</key>
					<integer>64881</integer>
					<key>HIDAccelGainParabolic</key>
					<integer>32768</integer>
					<key>HIDAccelIndex</key>
					<integer>8192</integer>
					<key>HIDAccelTangentSpeedLinear</key>
					<integer>478413</integer>
					<key>HIDAccelTangentSpeedParabolicRoot</key>
					<integer>1310720</integer>
				</dict>
				<dict>
					<key>HIDAccelGainCubic</key>
					<integer>6554</integer>
					<key>HIDAccelGainLinear</key>
					<integer>64225</integer>
					<key>HIDAccelGainParabolic</key>
					<integer>43254</integer>
					<key>HIDAccelIndex</key>
					<integer>32768</integer>
					<key>HIDAccelTangentSpeedLinear</key>
					<integer>471859</integer>
					<key>HIDAccelTangentSpeedParabolicRoot</key>
					<integer>1245184</integer>
				</dict>
				<dict>
					<key>HIDAccelGainCubic</key>
					<integer>7864</integer>
					<key>HIDAccelGainLinear</key>
					<integer>62915</integer>
					<key>HIDAccelGainParabolic</key>
					<integer>54395</integer>
					<key>HIDAccelIndex</key>
					<integer>45056</integer>
					<key>HIDAccelTangentSpeedLinear</key>
					<integer>465306</integer>
					<key>HIDAccelTangentSpeedParabolicRoot</key>
					<integer>1179648</integer>
				</dict>
				<dict>
					<key>HIDAccelGainCubic</key>
					<integer>9830</integer>
					<key>HIDAccelGainLinear</key>
					<integer>61604</integer>
					<key>HIDAccelGainParabolic</key>
					<integer>65536</integer>
					<key>HIDAccelIndex</key>
					<integer>57344</integer>
					<key>HIDAccelTangentSpeedLinear</key>
					<integer>458752</integer>
					<key>HIDAccelTangentSpeedParabolicRoot</key>
					<integer>1114112</integer>
				</dict>
				<dict>
					<key>HIDAccelGainCubic</key>
					<integer>11796</integer>
					<key>HIDAccelGainLinear</key>
					<integer>60293</integer>
					<key>HIDAccelGainParabolic</key>
					<integer>75366</integer>
					<key>HIDAccelIndex</key>
					<integer>65536</integer>
					<key>HIDAccelTangentSpeedLinear</key>
					<integer>458752</integer>
					<key>HIDAccelTangentSpeedParabolicRoot</key>
					<integer>1048576</integer>
				</dict>
				<dict>
					<key>HIDAccelGainCubic</key>
					<integer>13763</integer>
					<key>HIDAccelGainLinear</key>
					<integer>58327</integer>
					<key>HIDAccelGainParabolic</key>
					<integer>85197</integer>
					<key>HIDAccelIndex</key>
					<integer>98304</integer>
					<key>HIDAccelTangentSpeedLinear</key>
					<integer>458752</integer>
					<key>HIDAccelTangentSpeedParabolicRoot</key>
					<integer>983040</integer>
				</dict>
				<dict>
					<key>HIDAccelGainCubic</key>
					<integer>15729</integer>
					<key>HIDAccelGainLinear</key>
					<integer>56361</integer>
					<key>HIDAccelGainParabolic</key>
					<integer>95027</integer>
					<key>HIDAccelIndex</key>
					<integer>131072</integer>
					<key>HIDAccelTangentSpeedLinear</key>
					<integer>458752</integer>
					<key>HIDAccelTangentSpeedParabolicRoot</key>
					<integer>917504</integer>
				</dict>
				<dict>
					<key>HIDAccelGainCubic</key>
					<integer>18350</integer>
					<key>HIDAccelGainLinear</key>
					<integer>54395</integer>
					<key>HIDAccelGainParabolic</key>
					<integer>108790</integer>
					<key>HIDAccelIndex</key>
					<integer>163840</integer>
					<key>HIDAccelTangentSpeedLinear</key>
					<integer>458752</integer>
					<key>HIDAccelTangentSpeedParabolicRoot</key>
					<integer>851968</integer>
				</dict>
				<dict>
					<key>HIDAccelGainCubic</key>
					<integer>23593</integer>
					<key>HIDAccelGainLinear</key>
					<integer>65536</integer>
					<key>HIDAccelGainParabolic</key>
					<integer>123208</integer>
					<key>HIDAccelIndex</key>
					<integer>196608</integer>
					<key>HIDAccelTangentSpeedLinear</key>
					<integer>458752</integer>
					<key>HIDAccelTangentSpeedParabolicRoot</key>
					<integer>786432</integer>
				</dict>
			</array>
			<key>HIDDisallowRemappingOfPrimaryClick</key>
			<true/>
			<key>HIDPointerAccelerationTable</key>
			<data>
			AACAAFVTQioABwAAAAAAAgAEAAAABAAAABAAAAAQAAAAACAAAA0A
			AIAAAACAAAABQAAAAYAAAAIAAAAC4AAAAwAAAATgAAAEAAAAB0AA
			AAUAAAAKAAAABgAAAA1AAAAIAAAAFgAAAArAAAAjAAAADQAAAC8A
			AAAOwAAAOMAAABBAAABBAAAAEcAAAEjAAAAAUAAADwAAgAAAAIAA
			AAEAAAABQAAAAYAAAAJAAAACAAAAA4AAAAKAAAAE4AAAAwAAAAZg
			AAAEAAAACgAAAAUAAAAOQAAABgAAABNAAAAIAAAAHsAAAArAAAAu
			wAAADQAAADyAAAAOwAAARwAAABBAAABPwAAAEcAAAFiAAAAAgAAA
			DwAAgAAAAIAAAAEAAAABYAAAAYAAAAKgAAACAAAABEAAAAKAAAAG
			AAAAAwAAAAgAAAAEAAAADQAAAAUAAAASwAAABgAAABkAAAAIAAAA
			KAAAAArAAAA7wAAADQAAAEuAAAAOwAAAV0AAABBAAABgQAAAEcAA
			AGkAAAAAsAAADwAAgAAAAIAAAAEAAAABoAAAAYAAAAMAAAACAAAA
			BQAAAAKAAAAHQAAAAwAAAAnAAAAEAAAAEEAAAAUAAAAXgAAABgAA
			AB/AAAAIAAAAMgAAAArAAABKAAAADQAAAFyAAAAOwAAAaQAAABBA
			AABywAAAEcAAAHrAAAAA4AAADwAAgAAAAKAAAAEAAAABwAAAAYAA
			AANgAAACAAAABeAAAAKAAAAIoAAAAwAAAAvAAAAEAAAAE8AAAAUA
			AAAdQAAABgAAACfAAAAIAAAAPcAAAArAAABZAAAADQAAAG3AAAAO
			wAAAe0AAABBAAACFQAAAEcAAAIxAAAABAAAADwAAgAAAAMAAAAEA
			AAACAAAAAYAAAAPgAAACAAAABsAAAAKAAAAKQAAAAwAAAA5gAAAE
			AAAAGMAAAAUAAAAkwAAABgAAADLAAAAIAAAATUAAAArAAABugAAA
			DQAAAIMAAAAOwAAAj0AAABBAAACXAAAAEcAAAJxA
			</data>
			<key>HIDPointerAccelerationType</key>
			<string>HIDTrackpadAcceleration</string>
			<key>HIDScrollAccelCurves</key>
			<array>
				<dict>
					<key>HIDAccelGainLinear</key>
					<integer>85197</integer>
					<key>HIDAccelGainParabolic</key>
					<integer>13107</integer>
					<key>HIDAccelIndex</key>
					<integer>8192</integer>
					<key>HIDAccelTangentSpeedLinear</key>
					<integer>851968</integer>
					<key>HIDAccelTangentSpeedParabolicRoot</key>
					<integer>1310720</integer>
				</dict>
				<dict>
					<key>HIDAccelGainLinear</key>
					<integer>95027</integer>
					<key>HIDAccelGainParabolic</key>
					<integer>32768</integer>
					<key>HIDAccelIndex</key>
					<integer>14090</integer>
					<key>HIDAccelTangentSpeedLinear</key>
					<integer>786432</integer>
					<key>HIDAccelTangentSpeedParabolicRoot</key>
					<integer>1245184</integer>
				</dict>
				<dict>
					<key>HIDAccelGainLinear</key>
					<integer>104858</integer>
					<key>HIDAccelGainParabolic</key>
					<integer>45875</integer>
					<key>HIDAccelIndex</key>
					<integer>20480</integer>
					<key>HIDAccelTangentSpeedLinear</key>
					<integer>720896</integer>
					<key>HIDAccelTangentSpeedParabolicRoot</key>
					<integer>1179648</integer>
				</dict>
				<dict>
					<key>HIDAccelGainLinear</key>
					<integer>114688</integer>
					<key>HIDAccelGainParabolic</key>
					<integer>57017</integer>
					<key>HIDAccelIndex</key>
					<integer>32768</integer>
					<key>HIDAccelTangentSpeedLinear</key>
					<integer>655360</integer>
					<key>HIDAccelTangentSpeedParabolicRoot</key>
					<integer>1114112</integer>
				</dict>
				<dict>
					<key>HIDAccelGainLinear</key>
					<integer>124519</integer>
					<key>HIDAccelGainParabolic</key>
					<integer>68813</integer>
					<key>HIDAccelIndex</key>
					<integer>49152</integer>
					<key>HIDAccelTangentSpeedLinear</key>
					<integer>589824</integer>
					<key>HIDAccelTangentSpeedParabolicRoot</key>
					<integer>1048576</integer>
				</dict>
				<dict>
					<key>HIDAccelGainLinear</key>
					<integer>134349</integer>
					<key>HIDAccelGainParabolic</key>
					<integer>81920</integer>
					<key>HIDAccelIndex</key>
					<integer>65536</integer>
					<key>HIDAccelTangentSpeedLinear</key>
					<integer>524288</integer>
					<key>HIDAccelTangentSpeedParabolicRoot</key>
					<integer>983040</integer>
				</dict>
				<dict>
					<key>HIDAccelGainLinear</key>
					<integer>144179</integer>
					<key>HIDAccelGainParabolic</key>
					<integer>98304</integer>
					<key>HIDAccelIndex</key>
					<integer>111411</integer>
					<key>HIDAccelTangentSpeedLinear</key>
					<integer>458752</integer>
					<key>HIDAccelTangentSpeedParabolicRoot</key>
					<integer>917504</integer>
				</dict>
			</array>
			<key>HIDScrollAccelerationTable</key>
			<data>
			AACAAFVTQioABwAAAAAAAQABAAAAAQAAAAAgAAAQAABxOwAATOMA
			AwAAAAdgAAAEwAAADoAAAAbxSgAX6V4ACVeCACMQWgALZ6EALBF7
			AA2N1AA03ToAD36aADvQuAASWKAARl01ABUAAABO2dgAF8AAAFXK
			7QAas+UAW2FQAB2QAABe0qoAIL75AGEgywAkLXsAYnXvACewAABj
			Rl8AAIAAABMAAHE7AABWfwABAAAAAuAAAAIAAAAJYAAAAwAAABIA
			AAAEwAAAIMAAAAaAAAAwgAAACGp5AEH9tgAK7bUAV4ZuAA0B2ABr
			PTkADv1/AIEEcAAQy5gAkdRWABJouQCe3VAAE+c/AKikCgAXAucA
			tn2SABot3ADARE4AHVjQAMX4OgAg35IAytuYACQ4bgDO7mUAJ6CX
			ANIwowAAsAAAFAAAcTsAAGFOAADAAAABwAAAAQAAAANgAAACAAAA
			DCAAAAMAAAAW4AAABMAAACnAAAAGQAAAOsAAAAfOggBP7OcACgWA
			AGo8rgAL658AhMCkAA2RCwCfR+EADzjIALWDbwAQ/k8AxqbEABLN
			UQDUeCMAFepmAOTKxwAZoVYA8qFmAB1CvwD7fXwAIQuCAQFpdAAk
			S20BBVKIACegAAEIK4wAAOAAABQAAHE7AABtdwAAwAAAAeAAAAEA
			AAAD4AAAAgAAAA6AAAADAAAAHEAAAATAAAA0AAAABgAAAEdAAAAH
			N4wAXL7hAAkAAACAwAAACoAAAKGAAAALz7IAvU7UAA01yQDadikA
			DvtPAPKF4gARLu4BCSWiABUlDwEfV8QAGT9oASzRKgAdChkBNQrG
			ACDz5QE6cR4AJEARAT3XdgAnn1YBQMHWAABQAAATAABxOwAAS7AA
			AQAAAAJgAAACAAAABuAAAAMAAAAMYAAABMAAABcAAAAGwAAAJAAA
			AAkAAAAyAAAACz1uAEFngAANcE8AUMGhAA+sTQBgSTMAEagdAG5N
			TAATT9YAd9WQABTQfgB+26MAF3odAIbYXQAagocAjp+lAB2J6QCT
			vnkAIN/yAJdcWwAkO0IAmYu9ACegOACacdcAAQAAABUAAHE7AABW
			fwAAwAAAAiAAAAEAAAAEgAAAAYAAAAqAAAACAAAAEaAAAAMAAAAh
			gAAABMAAAD6AAAAFwAAAVEAAAAbAAABrAAAACAAAAIxAAAAJAAAA
			qYAAAApAAADKwAAAC8AAAPTAAAANwAABJAAAABAAAAFEn9IAFEAA
			AV49zAAZAAABbrsYABzQAAFz78AAIOAAAXhvwAAkIAABem/AACeg
			AAF8JGg=
			</data>
			<key>HIDScrollAccelerationType</key>
			<string>HIDTrackpadScrollAcceleration</string>
			<key>HIDScrollResolution</key>
			<integer>26214400</integer>
			<key>IOClass</key>
			<string>AppleMultitouchTrackpadHIDEventDriver</string>
			<key>IOProviderClass</key>
			<string>IOHIDInterface</string>
			<key>MTEventSource</key>
			<true/>
			<key>ProductID</key>
			<integer>657</integer>
			<key>ReportProtocolChangeVersion</key>
			<integer>144</integer>
			<key>ShouldHandleButton</key>
			<true/>
			<key>TrackpadEmbedded</key>
			<true/>
			<key>VendorID</key>
			<integer>1452</integer>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2013 Apple Inc. All rights reserved.</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.driver.AppleMultitouchDriver</key>
		<string>237.1</string>
		<key>com.apple.iokit.IOHIDFamily</key>
		<string>1.4</string>
		<key>com.apple.kpi.bsd</key>
		<string>9.0.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>9.0.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>9.0.0</string>
		<key>com.apple.kpi.mach</key>
		<string>9.0.0</string>
		<key>com.apple.kpi.private</key>
		<string>8.0.0</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Console</string>
</dict>
</plist>
