<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>13C61</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>IOBluetoothHIDDriver</string>
	<key>CFBundleGetInfoString</key>
	<string>4.2.3, Copyright © 2002-2014 Apple Inc. All rights reserved.</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.driver.IOBluetoothHIDDriver</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>IOBluetoothHIDDriver</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>4.2.3</string>
	<key>CFBundleSignature</key>
	<string>bthd</string>
	<key>CFBundleVersion</key>
	<string>4.2.3f10</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>5A2053</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>13C61</string>
	<key>DTSDKName</key>
	<string></string>
	<key>DTXcode</key>
	<string>0501</string>
	<key>DTXcodeBuild</key>
	<string>5A2053</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>IOBluetoothGamepadHIDDriver</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.IOBluetoothHIDDriver</string>
			<key>HIDDefaultBehavior</key>
			<string></string>
			<key>IOClass</key>
			<string>IOBluetoothGamepadHIDDriver</string>
			<key>IOProviderClass</key>
			<string>IOBluetoothL2CAPChannel</string>
			<key>PSM</key>
			<integer>17</integer>
			<key>ProductID</key>
			<integer>616</integer>
			<key>VendorID</key>
			<integer>1356</integer>
		</dict>
		<key>IOBluetoothHIDDriver</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.IOBluetoothHIDDriver</string>
			<key>HIDDefaultBehavior</key>
			<string></string>
			<key>IOClass</key>
			<string>IOBluetoothHIDDriver</string>
			<key>IOProviderClass</key>
			<string>IOBluetoothL2CAPChannel</string>
			<key>PSM</key>
			<integer>17</integer>
		</dict>
		<key>Microsoft Wireless Laser Mouse 8000</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.IOBluetoothHIDDriver</string>
			<key>HIDDefaultBehavior</key>
			<string></string>
			<key>IOClass</key>
			<string>IOBluetoothHIDDriver</string>
			<key>IOProviderClass</key>
			<string>IOBluetoothL2CAPChannel</string>
			<key>PSM</key>
			<integer>17</integer>
			<key>ProductID</key>
			<integer>1118</integer>
			<key>SuppressSetProtocol</key>
			<true/>
			<key>VendorID</key>
			<integer>1794</integer>
		</dict>
		<key>R-net Bluetooth Mouse Module</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.IOBluetoothHIDDriver</string>
			<key>HIDDefaultBehavior</key>
			<string></string>
			<key>IOClass</key>
			<string>IOBluetoothHIDDriver</string>
			<key>IOProviderClass</key>
			<string>IOBluetoothL2CAPChannel</string>
			<key>PSM</key>
			<integer>17</integer>
			<key>ProductID</key>
			<integer>1</integer>
			<key>SuppressSetProtocol</key>
			<true/>
			<key>VendorID</key>
			<integer>2578</integer>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2002-2014 Apple Inc. All rights reserved.</string>
	<key>OSBundleCompatibleVersion</key>
	<string>1.1f4</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IOBluetoothFamily</key>
		<string>2.0.0</string>
		<key>com.apple.iokit.IOHIDFamily</key>
		<string>1.5.2</string>
		<key>com.apple.kpi.iokit</key>
		<string>8.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>8.0</string>
		<key>com.apple.kpi.mach</key>
		<string>8.0</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Safe Boot</string>
</dict>
</plist>
