<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>13A588</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>AppleWWANSupport</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.driver.AppleWWANSupport</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>AppleWWANSupport</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>3.0.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>3.0.0</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>5A11344p</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>13A588</string>
	<key>DTSDKName</key>
	<string></string>
	<key>DTXcode</key>
	<string>0500</string>
	<key>DTXcodeBuild</key>
	<string>5A11344p</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>0x0C88/0x180A Qualcomm CDMA Technologies MSM (KPC680)</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleWWANSupport</string>
			<key>IOClass</key>
			<string>AppleWWANSupport</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>idProduct</key>
			<string>*</string>
			<key>idVendor</key>
			<integer>3208</integer>
		</dict>
		<key>0x0af0/* Option N.V.</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleWWANSupport</string>
			<key>IOClass</key>
			<string>AppleWWANSupport</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>idProduct</key>
			<string>*</string>
			<key>idVendor</key>
			<integer>2800</integer>
		</dict>
		<key>0x1199/* Sierra Wireless, Incorporated</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleWWANSupport</string>
			<key>IOClass</key>
			<string>AppleWWANSupport</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>idProduct</key>
			<string>*</string>
			<key>idVendor</key>
			<integer>4505</integer>
		</dict>
		<key>0x1410/* Novatel Wireless, Inc.</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleWWANSupport</string>
			<key>IOClass</key>
			<string>AppleWWANSupport</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>idProduct</key>
			<string>*</string>
			<key>idVendor</key>
			<integer>5136</integer>
		</dict>
		<key>0x16D8/* COMTECH CDMA Technologies</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleWWANSupport</string>
			<key>IOClass</key>
			<string>AppleWWANSupport</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>idProduct</key>
			<string>*</string>
			<key>idVendor</key>
			<integer>5848</integer>
		</dict>
		<key>0x413c/* Dell</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleWWANSupport</string>
			<key>IOClass</key>
			<string>AppleWWANSupport</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>idProduct</key>
			<string>*</string>
			<key>idVendor</key>
			<integer>16700</integer>
		</dict>
		<key>0xF3D/* Sierra Wireless, Incorporated</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleWWANSupport</string>
			<key>IOClass</key>
			<string>AppleWWANSupport</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>idProduct</key>
			<string>*</string>
			<key>idVendor</key>
			<integer>3901</integer>
		</dict>
	</dict>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IOUSBFamily</key>
		<string>3.5.0a10</string>
		<key>com.apple.kpi.iokit</key>
		<string>10.0.0d1</string>
		<key>com.apple.kpi.libkern</key>
		<string>10.0.0d1</string>
		<key>com.apple.kpi.mach</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.unsupported</key>
		<string>8.0.0</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Root</string>
</dict>
</plist>
